[2018-06-14 08:12] Zimmi48 opened #1 "Add a Code of Conduct"
## Meta-issue ##

GitHub proposes the use of https://www.contributor-covenant.org/version/1/4/code-of-conduct
This requires providing a team e-mail address to report abuse. Another solution could be to list individual team member e-mail addresses.

The other question is whether we want to reuse an existing Code of Conduct as-is or if it would be better to adapt it. Are there some people with exper

[2018-06-14 08:17] Zimmi48 opened #2 "Define a governance process"
## Meta-issue ##

This is not really urgent to have but it would be good to have a formal governance process at some point.
In particular, it wouldn't be surprising to have some conflicts arising about some specific projects at some point, and it would be great if this had been anticipated and the governance process included a process for conflict resolution...
We could start with a raw sketch and

[2018-06-14 08:20] Zimmi48 opened #3 "Define a set of best practices on how to maintain a project"
## Meta-issue ##

These best practices should include how to setup CI (with templates), how to maintain compatibility with various versions of Coq, how to name versions and when to release them, how to create packages (again with templates).

[2018-06-22 14:13] Zimmi48 commented on #1
@JanBessai suggested on (Coq's) Gitter to reuse the Idris Code of Conduct https://www.idris-lang.org/documentation/community-standards/. It seems indeed well adapted for a community. Short enough and yet quite clear and comprehensive.

[2018-06-26 11:36] Zimmi48 commented on #1
Code of conduct added in 8f0755d336ba143a64eede0425479ebf84b12926
But as mentioned in the commit message:

This code is based on Idris Community Standards and similarly to them suggest to report violation to "any member of coq-community (at your discretion)".
This is far from ideal if we really want people to feel like their violation reports are welcome so when we are active enough, we should rat

[2018-06-28 19:33] herbelin opened #6 "Proposition to move Laurent Théry's contribution Bertrand"
## Move a project to coq-community ##

**Project name:** Bertrand

**Initial author(s):** Laurent Théry

**Current URL:** https://github.com/coq-contribs/bertrand

**Kind:** formalization of a mathematical theorem / program correctness

**License:** LGPL 2.1

**Description:** A proof of correctness of the algorithm as described in `The Art of Computer Programming: Fundamental Algorithms` by Knuth,

[2018-06-28 19:35] herbelin opened #7 "Proposition to move Pierre Letouzey's contribution Stalmarck"
## Move a project to coq-community ##

**Project name:** Stalmarck

**Initial author:** Pierre Letouzey

**Current URL:** https://github.com/coq-contribs/stalmarck

**Kind:** extractable program

**License:** LGPL 2.1

**Description:** A two-level approach to prove tautology using Stalmarck's algorithm.

**Status:** formerly maintained in [coq-contribs](https://github.com/coq-contribs/)

**Previou

[2018-06-28 19:36] herbelin opened #8 "Proposition to move Milad Niqui's Stern-Brocot construction of rational numbers"
## Move a project to coq-community ##

**Project name:** QArithSternBrocot

 **Initial author(s):** Milad Niqui

**Current URL:** https://github.com/coq-contribs/qarith-stern-brocot

**Kind:** pure Coq library

**License:** LGPL 2.1

**Description:** Developement of rational numbers as finite binary lists and defining field operations on them in two different ways: strict and lazy.

**Status:** fo

[2018-06-29 07:39] Zimmi48 commented on #6
The repository has now be transferred here: https://github.com/coq-community/bertrand
To-do:
- [ ] Setup CI
- [ ] Update the OPAM package

[2018-06-29 07:40] Zimmi48 commented on #7
The repository has now be transferred here: https://github.com/coq-community/stalmarck
To-do:
- [ ] Setup CI
- [ ] Update the OPAM package

[2018-06-29 07:40] Zimmi48 commented on #8
The repository has now be transferred here: https://github.com/coq-community/qarith-stern-brocot
To-do:
- [ ] Setup CI
- [ ] Update the OPAM package

[2018-07-01 10:50] fakusb opened #10 "Proposition to move Thomas Braibant & Damien Pous' contribution AAC tactics"
Move a project to coq-community

Project name: AAC Tactics

Initial author(s): Thomas Braibant & Damien Pous

Current URL: https://github.com/coq-contribs/aac-tactics

Kind: plugin

License: LGPL 3

Description: This plugin provides tactics for rewriting universally quantified
equations, modulo associativity and commutativity of some operators.

Status: formerly maintained in coq-contribs

Previou

[2018-07-01 12:59] Zimmi48 commented on #10
Thanks!
The repository has now been transferred: https://github.com/coq-community/aac-tactics

I'll try to submit a PR the next few days to setup CI.

[2018-07-19 21:16] spitters opened #12 "Math-classes"
## Move a project to coq-community ##

**math-classes:**

**Initial author(s):**
    Eelis van der Weegen
    Bas Spitters
    Robbert Krebbers

**Current URL:**
https://github.com/math-classes

**Kind:** pure Coq library

**License:** Public Domain

**Description:**  A library of abstract interfaces for mathematical structures in Coq.

**Status:** Maintained by Bas Spitters

**New maintainer:** B

[2018-07-19 21:18] spitters opened #13 "Corn"
## Move a project to coq-community ##

**Project name:** Corn

**Initial author(s):** Many

**Current URL:** https://github.com/c-corn/corn

**Kind:** pure Coq library

**License:** GPL

**Description:** The Coq Constructive Repository (previously) at Nijmegen.

**Status:** Maintained by Bas Spitters

**New maintainer:** Bas Spitters, but help is appreciated

[2018-07-20 11:39] Zimmi48 commented on #13
Thanks!
@spitters I've invited you to become a member of the coq-community GitHub organization. Once you accept the invitation, you should be able to transfer the repository corn and math-classes. To do this, go to the Settings of the repository, then click on Transfer at the bottom. Issues and pull requests will be kept, and URL redirections will be set up, so there shouldn't be any issue with pe

[2018-07-20 11:54] Zimmi48 commented on #10
@fakusb You should probably add yourself to the "watchers" of the aac-tactics repository, otherwise you risk missing some incoming issues or pull requests.

[2018-07-20 11:57] spitters commented on #13
Thanks. Done. That was easy.

[2018-07-20 11:57] spitters commented on #12
Moved in github to coq-community

[2018-07-20 12:34] fakusb commented on #10
Yesy that seems very reasonable, thanks for the hint!

[2018-07-20 12:43] Zimmi48 commented on #3
There should also be a template for the README. All coq-community project READMEs should probably contain a few standardized meta-data (short description, initial authors, current maintainer, license, supported versions of Coq...).

[2018-07-20 13:00] #13 closed

[2018-07-20 13:00] #12 closed

[2018-07-20 13:06] spitters opened #15 "Coq-ext-lib"
## Move a project to coq-community ??? ##

There seems to be an overlap in goals between coq-community, the new std-lib and coq-ext-lib.
@gmalecha , @maximedenes It might make sense to coordinate.

**Project name:** coq-ext-lib

**Initial author(s):** Gregory M. Malecha

**Current URL:** https://github.com/coq-ext-lib/coq-ext-lib

**Kind:** pure Coq library

**License:** FreeBSD

**Description:**

[2018-07-20 13:20] Zimmi48 commented on #15
@gmalecha has indeed expressed a lot of interest in stdlib2, see the issues raised here https://github.com/coq/stdlib2/issues and the discussions here https://gitter.im/coq/stdlib2.

[2018-07-21 14:53] spitters commented on #3
In https://github.com/HoTT/HoTT/wiki we collect a bunch of things that are generated automatically using travis: documentation, graphs, proviola code, ...

If people like it, I hope it's not too hard to adapt it. @jasongross has been very clever in setting it up in travis
https://github.com/HoTT/HoTT/blob/master/.travis.yml

It might be an incentive for people to upload packages.

[2018-07-21 15:12] spitters commented on #15
It would be very interesting to know what @mattam82 and @gares think about the speed of type classes. They are both actively working on improving unification.

About HITs, there's progress, and we should probably start to consider how to include cubical methods into Coq in the future. I know @herbelin has been thinking about that.

[2018-07-21 15:20] Zimmi48 commented on #3
I didn't know about proviola. It is an interesting tool, but also non-maintained. It looks like a good candidate to join coq-community. @JasonGross WDYT? We can open an issue and label it as looking for a maintainer, and cc the various people who have shown interest (and the initial author Carst Tankink to get consent).

[2018-07-21 15:59] spitters commented on #3
Carst has left academia. He did a postdoc with @gares before.
I think it could be good to include it in coq-community.

[2018-07-21 16:17] Zimmi48 opened #16 "proviola"
## Move a project to coq-community ##

**Project name:** proviola

**Initial author(s):** Carst Tankink @Carst-Tankink

**Current URL:** https://bitbucket.org/Carst/proviola-source

**Kind:** tool

**License:** GPL v3

**Description:** A tool to be able to replay the proofs when browsing a coqdoc-generated HTML file.

**Status:** Not maintained.

**New maintainer:** looking for a volunteer

cc @Ja

[2018-07-21 16:18] Zimmi48 commented on #3
OK, I created #16.

[2018-07-21 16:45] anton-trunov opened #17 "lemma-overloading"
## Move a project to coq-community ##

**Project name:** lemma-overloading

**Initial author(s):** Georges Gonthier (@ggonthier), Beta Ziliani (@beta-ziliani), Aleksandar Nanevski (@aleksnanevski) and Derek Dreyer (@drdreyer)

**Current URL:** https://github.com/coq-contribs/lemma-overloading

**Kind:** pure Coq library (based on SSReflect/mathcomp)

**License:** GNU GPL v3

**Description:** Hoare

[2018-07-21 17:15] Zimmi48 commented on #17
Thanks @anton-trunov! Since you @-mentioned the initial authors, I'll leave a few days in case they want to comment before proceeding with the transfer from coq-contribs.

[2018-07-21 17:20] beta-ziliani commented on #17
I support the move. @anton-trunov, let me know if you need help. It might be the case it doesn't work anymore in recent versions of Coq. An alternative is to make it depend on [Unicoq](https://github.com/unicoq/unicoq/), which replaces Coq's unification algorithm with one that is more stable.

[2018-07-21 20:01] siddharthist commented on #16
Could this functionality be integrated into `coqdoc`?

[2018-07-22 13:21] spitters commented on #16
Aside, Agda seems to have pretty good tools for documentationÆ
https://agda.readthedocs.io/en/v2.5.4.1/tools/literate-programming.html

[2018-07-24 12:55] Zimmi48 commented on #17
@anton-trunov The project has now been transferred: https://github.com/coq-community/lemma-overloading
And I have invited you to join the coq-community organization.
As with other ex-coq-contribs, I will try to submit a PR setting up CI soon.
It would also be good to update the README, convert it to Markdown and create a format that can be shared by all coq-community projects (see also #3).

[2018-07-24 13:18] Zimmi48 commented on #17
(And don't forget to watch the repository not to miss incoming issues or pull requests.)

[2018-07-24 13:58] anton-trunov commented on #17
Thanks a lot @Zimmi48.

That's cool! I'll fix compilation today.

Will do. For now, I'll try to stick to the format you proposed in the linked issue: short description, initial authors, current maintainer, license, supported versions of Coq...

[2018-07-25 23:54] siddharthist commented on #3
On the topic of CI: I think it'd be awesome to create an inclusive CI template/generator for Coq projects, along the lines of https://github.com/haskell-CI/haskell-ci. A pie-in-the-sky feature list:

 * Support for multiple CI providers (Travis, appveyor, Gitlab, etc.)
 * Testing with multiple versions of Coq, Ocaml
 * Building Coq plugins
 * Extraction
 * Building and uploading of `coqdoc` docume

[2018-07-27 13:37] Zimmi48 commented on #17
This can probably be closed now.

[2018-07-27 13:37] #17 closed

[2018-08-24 10:20] spitters opened #19 "Hoogle like search"
## Meta-issue ##

@peterlefanulumsdaine
wants to have hoogle like search for Coq. The coq-community database could be a good target for this.
One could start from Search and SearchAbout, but run over the whole of coq-community (or coq opam, or coq std lib)

[2018-08-24 14:47] Zimmi48 commented on #19
Thanks for raising this issue! IMO, improving cross-package search is a hugely important thing to achieve a good and healthy package ecosystem. And even without going to cross-package search, improving cross-module search would be good. The fact that you need to import a module to have `Search` report results from this module is one of the thing that diminishes the usefulness of the `Search` comma

[2018-08-31 12:21] CohenCyril opened #20 "Proposition to move Keller and Lasson's paramcoq to coq-community"
## Move a project to coq-community ##

**Project name:** paramcoq

**Initial author(s):** Chantal Keller (@ckeller) and Marc Lasson (@mlasson)

**Current URL:** https://github.com/parametricity-coq/paramcoq
(the maintained version is https://github.com/aa755/paramcoq)

**Kind:** OCaml plugin

**License:** ~~No explicit licence, we should ask the original authors~~ Now MIT

**Description:**
This pl

[2018-08-31 12:44] Zimmi48 commented on #20
Great!
Let's first wait to solve the licensing issue: as per the rules of coq-community, paramcoq needs an open source license to migrate here.
Regarding the transfer, I can add @mlasson or any admin of the @parametricity-coq organization as a member of coq-community, to handle the transfer, or I can take care of it if someone adds me as an admin of parametricity-coq.
Regarding the maintainer, don

[2018-08-31 12:46] spitters commented on #20
To what extend is this work superseded by the recent work on template coq?
https://template-coq.github.io/template-coq/

[2018-09-21 11:13] spitters commented on #15
Just noticed that this library is used in certicoq. Apparently a copy, not as an opam package.
@aa755 Do you know more?
https://github.com/PrincetonUniversity/certicoq/

[2018-09-21 11:17] gmalecha commented on #15
I would imagine the reason is due to Windows and opam (they don't play nicely, right?).

[2018-09-21 11:19] spitters commented on #15
My students in Software Foundations had no problem using opam on Windows.
Although most of them are using another OS.

On Fri, Sep 21, 2018 at 1:17 PM Gregory Malecha <notifications@github.com>
wrote:

[2018-09-21 11:53] gmalecha commented on #15
Ok, Abhishek will probably know then.

[2018-09-21 13:58] Zimmi48 commented on #15
Good to know. And then what editor would they use?

Note that the Windows installer of Coq 8.8.2 will include the option to install coq-ext-lib (among other addons) so it should allow all Window users to rely on it without trouble.

[2018-09-21 14:05] spitters commented on #15
Either PG or coqide. I don't know of anyone using the windows installer, but I'll ask what they are using.
The whole installation went surprisingly smooth.

[2018-09-25 02:29] aa755 commented on #15
Thanks to @mattam82, we have switched to opam in the certicoq project. That local copy of coq-ext-lib should be deleted.

[2018-10-25 16:50] ckeller commented on #20
Thanks again for the proposition. The MIT license has been added to the repository https://github.com/aa755/paramcoq .
Tell us if you need something else!

[2018-10-25 20:53] Zimmi48 commented on #20
Great! @ckeller Are you an admin of https://github.com/parametricity-coq/paramcoq? If yes, I can make you a member of @coq-community for you to transfer the repository or else you can make me an admin of @parametricity-coq and let me do the transfer. In any case, since we said that this would be the repository to be transferred, it will need to be synchronized with the commits that are only in htt

[2018-10-25 20:58] Zimmi48 commented on #20
@proux01: Will you be the principal maintainer of the project?

[2018-10-25 20:58] spitters commented on #20
@ckeller @CohenCyril what's the relation to the work in templateCoq?
My understanding was that that one is supposed to replace paramcoq (in the future?)

[2018-10-26 07:48] mlasson commented on #20
@Zimmi48 I mergerd the commit from master from @aa755 master branch.
If you make me a member of co-community I'll transfer the ownership.

[2018-10-26 08:07] proux01 commented on #20
@Zimmi48: if @aa755 agrees to be, that's perfectly fine for me.
Otherwise, I'll do it (at least as long as we are using it through [CoqEAL](https://github.com/CoqEAL/CoqEAL)).

[2018-10-26 08:16] Zimmi48 commented on #20
@mlasson Done.
@proux01 @aa755 I can also add both of you to the organization if you want to continue to do some joint maintenance.

[2018-10-26 08:37] proux01 commented on #20
@Zimmi48 fine for me

[2018-10-29 09:47] Zimmi48 commented on #20
Great, thanks!
I've sent an invite to @proux01 (@CohenCyril and @mlasson are already members of coq-community as well). @aa755 let me know if I should send you an invite as well.

[2018-11-02 08:54] Zimmi48 commented on #20
@proux01 You should probably "watch" the repository https://github.com/coq-community/paramcoq to be made aware of incoming issues and pull requests.

[2018-11-07 13:34] tchajed opened #21 "Proposal to add Thomas Braibant and Damien Pous' ATBR"
## Move a project to coq-community ##

**Project name:** ATBR (Algebraic Tools for Binary Relations)

**Initial author(s):** Thomas Braibant & Damien Pous

**Current URL:** [coq-contribs/atbr](https://github.com/coq-contribs/atbr) as well as a [project page](http://proton.inrialpes.fr/~braibant/atbr/)

**Kind:** pure Coq library (has a small plugin for internal use)

**License:** LGPL 3

**Descrip

[2018-11-07 14:19] Zimmi48 commented on #21
Cool, @tchajed I'm sending you an invite to join the coq-community organization and I'm taking care of the transfer of the repository.

[2018-11-07 14:22] Zimmi48 commented on #21
Done. I'll follow up soon with a PR adding some CI.

[2018-11-07 14:38] Zimmi48 commented on #21
Hopefully, we can migrate this webpage as well as a second step so that it can be kept up-to-date.

[2018-11-12 18:18] ejgallego commented on #20
Paramcoq now has a CI, it has been integrated in Coq's CI too, and IMHO it is looking pretty good, congrats!

[2018-11-12 18:21] ejgallego commented on #10
This seems solved right?

[2018-11-12 22:01] #10 closed

[2018-11-12 22:01] #20 closed

[2018-11-13 19:40] ejgallego commented on #3
Regarding CI maybe we should just add a couple of pointers to the Docker and Nix documentation for setting up travis.

[2018-11-17 16:56] ejgallego commented on #3
Also an interesting issue for plugins is overlay merging from Coq upstream. As you all know, reactivity is important here; maybe Coq devs should have merge rights on plugins so we can indeed process overlays by ourselves?

[2018-11-19 22:52] Zimmi48 commented on #3
As said somewhere else, in coq-community, this is indeed not a problem to give push rights to some Coq developers.

[2018-11-19 23:41] ejgallego commented on #3
We can indeed do like that, or directly use the bot if we see it fit as you proposed.

[2018-11-22 19:02] palmskog opened #24 "Proposal to add SyDRec"
## Move a project to coq-community ##

**Project name:** SyDRec

**Initial author(s):** [Simon Robillard](https://github.com/simonr89)

**Current URL:** https://github.com/simonr89/SyDRec

**Kind:** OCaml plugin

**License:** CeCILL-C

**Description:** Plugin that allows generating catamorphisms and accompanying fusion lemmas from inductive types. This provides support for the "derivation-style" p

[2018-11-22 19:15] palmskog opened #25 "Proposal to add RelationExtraction"
## Move a project to coq-community ##

**Project name:** RelationExtraction

**Initial author(s):** Catherine Dubois, David Delahaye, and Pierre-Nicolas Tollitte

**Current URL:** https://github.com/picnic/RelationExtraction

**Kind:** OCaml plugin

**License:** GPL3

**Description:** A plugin for generating functions from inductive types which make this possible. The functions can either be funct

[2018-11-22 19:19] palmskog commented on #25
I'm uncertain whether the functionality of the plugin is superceded by related efforts such as [Equations](https://github.com/mattam82/Coq-Equations), but the customized extraction functionality could be instructive to plugin writers.

[2018-11-27 04:48] palmskog opened #28 "Proposal to move Huffman"
## Move a project to coq-community ##

**Project name:** Huffman

**Initial author(s):** Laurent Théry

**Current URL:** https://github.com/coq-contribs/huffman

**Kind:** extractable program

**License:** LGPL 2.1

**Description:** A verified, extractable function for Huffman coding and accompanying theory.

**Status:** Maintained by Coq devs so far.

**New maintainer:** Karl Palmskog

This is a

[2018-11-27 12:38] Zimmi48 commented on #28
Thanks for proposing to maintain this project!

@thery As the initial author, are you OK with the move from coq-contribs to coq-community?

[2018-11-27 20:23] palmskog opened #29 "Initial authors vs. other authors of projects"
## Meta-issue ##

Our current `README.md` and `opam` script templates make a distinction between initial authors and maintainers. However, going forward, I think this categorization is too limited. For example, if maintainers do significant refactoring or make extensions to a project, they deserve author recognition as well.

I see two ways to solve this:

1. Make no distinction between initial au

[2018-11-27 20:48] anton-trunov commented on #29
I'm in favor of this second option, but I'm not so sure about `opam` files. Mostly, I don't want the initial authors to think I'm taking the credit for their creative work. E.g. personally I would not mind to be listed in the authors after some significant change in the project, although it's hard to define "significant change".

[2018-11-27 21:13] Zimmi48 commented on #29
I think the "Maintainer" field is important to signal who is currently maintaining the package. However, I wouldn't mind dropping the "Initial" word and have "Authors" be a general field which can include maintainers who did "significant change" to the projects. And I suppose it can be the maintainers who decide when they want to be listed in this field...

[2018-11-27 22:16] palmskog commented on #29
OK, how about we just add another boolean field `initial` to each author (besides `name`). Then there can potentially be some symbol next to initial authors' names. I just don't want that information to disappear. I will do a PR to this effect for concreteness.

[2018-11-28 09:19] #29 closed

[2018-11-29 08:36] Zimmi48 commented on #2
1 approved review from someone inside the organization and no request for changes (obviously). We can enforce this with GitHub but then it won't allow pushing commits directly even for trivialities (which may be fine). We would also need to document this: where? Should we start a new draft document "governance" with just this rule in it?

Note that this also raises the question of the process for

[2018-11-29 08:39] Zimmi48 commented on #28
I'll take no answer as a go-ahead.

@palmskog The repository has now been transferred.

[2018-11-29 08:54] anton-trunov commented on #2
I'm in favor of going through PRs even for the trivialities. Because I'm not aware of a way to make GitHub send notifications for direct pushes.

[2018-11-29 12:38] Zimmi48 commented on #28
I'm surprised that GitHub didn't show it. It is supposed to be possible to post a comment by e-mail...

[2018-11-29 12:40] Zimmi48 commented on #2
Indeed, all you get is an item in your feed on GitHub's main page. Let's do this then.

[2018-11-29 12:44] thery commented on #28
@Zimmi48 Maybe the reply address is too generic:   <notifications@github.com>

Here is the header of the reply:
========================================
Subject: Re: [coq-community/manifesto] Proposal to move Huffman (#28)
Date: Tue, 27 Nov 2018 13:39:00 +0100
From: Laurent Thery <thery@sophia.inria.fr>
To: Théo Zimmermann <notifications@github.com>

No problem
====================================

[2018-11-29 13:57] Zimmi48 commented on #2
I have created https://github.com/coq-community/manifesto/wiki/Commit,-branch-and-release-policies which includes a note about the new policy for the manifesto repo.

[2018-11-29 14:01] Zimmi48 commented on #3
Most of the templates mentioned in this issue now exist in https://github.com/coq-community/manifesto/tree/master/templates. We are still missing something related to documentation (coqdoc, proviola, dependency graphs, webpages...).
Regarding the documentation of best practices, I have created https://github.com/coq-community/manifesto/wiki/Commit,-branch-and-release-policies which contains many s

[2018-11-29 14:09] Zimmi48 commented on #28
I don't think so. Might be worth reporting to GitHub staff since it looks like a bug...

[2018-11-29 17:01] thery commented on #28
@Zimmi48 made the report.

[2018-11-29 22:15] palmskog opened #33 "Proposal to add Cocasse"
## Move a project to coq-community ##

**Project name:** Cocasse

**Initial author(s):** Nicolas Tabareau and Éric Tanter

**Current URL:** https://github.com/tabareau/Cocasse

**Kind:** Coq library with extraction examples

**License:** unknown (need to ask authors to explicitly release under open source license)

**Description:** This small library demonstrates a technique for deferring proof wi

[2018-11-29 22:20] palmskog commented on #33
While the library is seemingly unrefined, the technique appears practical and interesting and is orthogonal to other development helps such as property-based testing. It also highlights that "unsound" axioms can be helpful in practice, which a larger audience may not be aware of.

[2018-11-29 22:35] Zimmi48 commented on #33
@tabareau @etanter: Would you mind adding an open source license to this repository?

[2018-11-30 02:33] palmskog commented on #28
Thanks @Zimmi48 and @thery! Everything seems to work well now with the huffman repo after the move, so I'm closing this.

[2018-11-30 02:33] #28 closed

[2018-12-07 22:14] palmskog commented on #3
We are still missing templates and practices for static documentation.

The [MathComp](https://github.com/math-comp/math-comp) website could be an example to emulate for projects to host static documents using GitHub's `gh-pages` mechanism. The main pages could be generated from `meta.yml` files via `mustache` templates as for README.md. I also wouldn't mind including PDF pre-prints or notes when

[2018-12-10 13:11] Zimmi48 commented on #3
Seems like good steps indeed. The math-comp website (the actual link is https://math-comp.github.io/math-comp/) is a nice example indeed.

If you mean pre-prints of articles associated with the project, I suppose the easiest way is just to link to the PDF hosted at HAL or arXiv when available (rather than copying the file).

[2018-12-10 13:31] Zimmi48 commented on #21
FTR, Christian Doczkal @chdoc said on Gitter on Dec 05 16:08

Also what they mean by "no longer maintained" is "no longer maintained by them", this echoes what you were saying in https://github.com/coq-community/atbr/pull/2 and https://github.com/coq/opam-coq-archive/pull/415:

The relation-algebra is now maintained at https://github.com/damien-pous/relation-algebra and has recently joined Coq's C

[2018-12-10 18:44] palmskog commented on #21
If the approach in the new library is fundamentally different, I think there would still be reason to preserve/maintain ATBR for comparison (and for people reading the original paper). But it may be a good idea to flag up very clearly in the ATBR README that the original author(s) consider it to be superseded. I can do a PR to this effect.

[2018-12-11 09:17] Zimmi48 commented on #21
Agreed.

[2018-12-13 10:31] Zimmi48 opened #37 "State of CI testing with Nix"
It's been a long time since I said I would write this summary issue (cc @siddharthist who was interested in particular).

Overall, the current state of CI testing with Nix is documented in [the wiki](https://github.com/coq-community/manifesto/wiki/Continuous-Integration-with-Nix). It is one of the two newly established and [officially supported](https://github.com/coq/coq/blob/master/dev/ci/README

[2018-12-15 04:31] palmskog opened #38 "Adopt a standard encoding of license names in project metadata and OPAM packages"
## Meta-issue ##

As highlighted by @Zimmi48 in a recent [pull request](https://github.com/coq-community/manifesto/pull/35), we are currently using informal conventions to indicate project licenses in OPAM files, e.g., `LGPL 3` and `LGPL2`.

To address this, I opened an [issue](https://github.com/coq/opam-coq-archive/issues/531) in the Coq OPAM archive, which is the intended home for OPAM packages

[2018-12-17 09:44] damien-pous commented on #21
Hi,
Christian Doczkal informed me about this thread.
Indeed, I do not plan to maintain ATBR since we restarted it in the relation-algebra library.
I guess Thomas Braibant won't maintain it either (he has been in the industry for a while now).
Nevertheless, I agree that it would be nice if it were to stay somewhere, for people willing to read the corresponding articles.
Best,
Damien

[2018-12-18 17:49] palmskog commented on #38
Note that projects can already start to use the SPDX license full names (used only in `README.md`) and include the SPDX identifiers in `meta.yml` as additional metadata. For example, in AAC tactics:
[code]

[2018-12-18 18:02] Zimmi48 commented on #38
Right. We can then remove the "shortname" later on if there is a decision to standardize oipam packages to use SPDX as well.

[2018-12-20 18:25] #8 closed

[2018-12-20 18:35] Zimmi48 commented on #7
https://github.com/coq-community/stalmarck/pull/2 and https://github.com/coq-community/stalmarck/pull/4 were submitted to add CI and opam packages in the repository.

[2018-12-20 18:35] #7 closed

[2018-12-20 19:09] Zimmi48 commented on #6
https://github.com/coq-community/bertrand/pull/4 introduces an opam file in the repository that should be a good basis for submitting updates to the Coq package index.

[2018-12-20 19:09] #6 closed

[2019-01-21 15:27] palmskog opened #40 "Proposal to add Chapar"
## Move a project to coq-community ##

**Project name:** Chapar

**Initial author(s):** Mohsen Lesani, Christian J. Bell, and Adam Chlipala

**Current URL:** https://github.com/mit-plv/chapar

**Kind:** extractable program

**License:** MIT

**Description:** A collection of certified causally consistent distributed key-value stores

**Status:** Currently unmaintained.

**New maintainer:** Karl Pal

[2019-01-21 15:34] palmskog commented on #40
@MohsenLesani do you have access to transfer the repository on GitHub, or do you know who does?

[2019-01-28 10:03] Zimmi48 commented on #40
@siegebell or @achlipala being the other authors could also confirm if they are OK with the move to coq-community and if they have admin access on the repository to transfer it.

(I remind that the goals of coq-community are exposed in the README of this repository if any of the authors wants to learn more on the context.)

(@JasonGross might also know who has admin access on the repositories in t

[2019-01-28 14:03] achlipala commented on #40
Thanks for the interest in the project!  @MohsenLesani was indeed the primary author, so I would hope to have his blessing before a move of this kind.  I can confirm that we haven't been making any effort to maintain the code, so it is in principle a good thing to have both someone else take over and a mechanism put in place to help with future transitions.

[2019-01-28 14:12] palmskog commented on #40
@achlipala I have been in contact with @MohsenLesani in person and via email. Hopefully you should receive a mail from him soon.

[2019-01-28 14:20] palmskog commented on #40
For completeness, my main interest in the project is to use it as a benchmark when investigating various proof engineering techniques, like faster regression proving. I'm not looking to extend it, just make it run smoothly with a recent Coq version.

[2019-02-02 18:15] Zimmi48 commented on #37
I have had the feeling of hitting a wall while trying to extend the current `default.nix` template to support using development branches of Coq package dependencies.

## The problem

The goal is to extend the current Nix's CI setup to support corn in particular. Corn depends on math-classes and bignums. Both have development branches that are compatible with Coq master, but their latest released v

[2019-02-05 22:20] palmskog commented on #38
For anyone following this (and for posterity), I have talked to the Coq OPAM repo maintainer, and we've decided to to use SPDX license strings for all Coq-community OPAM packages from now on. Conversion of old packages will happen as we go along.

[2019-02-06 08:24] Zimmi48 commented on #38
When should we close this issue?

[2019-02-07 16:11] palmskog commented on #40
Thanks to @achlipala and @MohsenLesani, this repository has now been moved, and I will try to document some of the hurdles we had with GitHub repository transfers to make this smoother in the future. Thanks also to @Zimmi48 for support. Closing this issue.

[2019-02-07 16:11] #40 closed

[2019-02-18 13:53] Zimmi48 opened #43 "Move zorns-lemma and topology to coq-community."
## Move a project to coq-community ##

**Project name:** `zorns-lemma` and `topology`

**Initial author(s):** Daniel Schepler @dschepler

**Current URL:** https://github.com/coq-contribs/zorns-lemma and https://github.com/coq-contribs/topology

**Kind:** pure Coq library

**License:** LGPL-2.1-or-later

**Description:** This library develops some basic set theory. / This library develops some basi

[2019-02-18 15:16] amiloradovsky commented on #43
OK. Thanks for the trust. Will try to do my best to keep these actual.

[2019-02-25 16:01] Zimmi48 commented on #43
@amiloradovsky The repositories have been transferred and you've been invited to join the organization. We'll try to help you setup continuous integration and other standard files using our usual [templates](https://github.com/coq-community/manifesto/tree/master/templates).

[2019-02-26 06:55] amiloradovsky commented on #43
@Zimmi48 OK. So now I should assemble the `meta.yml`, generate the files from `{,.}*.mustache`, and put them under version control, like [this](https://github.com/amiloradovsky/zorns-lemma/tree/meta.yml)?

[2019-02-26 10:56] Zimmi48 commented on #43
Indeed, like this :smile:  If you open a PR with your changes on the zorn repo, I'll add some inline comments for small nits. The CI setup in topology might require some additional work to make it work, given the additional dependency. I'll provide a hand. (BTW, we generally delete the legacy `description` file once the `meta.yml` file has been added.)

[2019-02-26 11:13] amiloradovsky commented on #43
OK. Here is the PR: https://github.com/coq-community/zorns-lemma/pull/2

[2019-02-26 11:34] amiloradovsky commented on #43
And this is the draft for Topology: https://github.com/coq-community/topology/pull/3

[2019-02-26 15:41] Zimmi48 commented on #43
Good, I'll have a look at them tomorrow. BTW, you probably want to start "watching" the two transferred repositories.

[2019-02-28 10:32] Zimmi48 opened #45 "Move the containers contrib to coq-community"
## Move a project to coq-community ##

**Project name:** Containers

**Initial author(s):** Stéphane Lescuyer @StekiKun

**Current URL:** https://github.com/coq-contribs/containers

**Kind:** pure Coq library

**License:** TBD by the author before the transfer

**Description:** a typeclass-based library of finite sets/maps

**Status:** was recently maintained by various contributors as part of coq

[2019-02-28 10:50] vbgl commented on #45
About the *kind* line. This project also includes a plugin that is supposed to automatically derive `OrderedType` instances from user-provided type definitions.

[2019-02-28 13:15] Zimmi48 commented on #43
Let's close this now and track the rest of the work in the corresponding PRs.

[2019-02-28 13:15] #43 closed

[2019-02-28 13:53] StekiKun commented on #45
Indeed, and this is the part that is harder to maintain as the Coq API or Ltac behaviour evolve. I opened coq-contribs/containers#8 to make sure we start with something that works before moving to coq-community.

[2019-02-28 14:20] Zimmi48 commented on #45
Oops sorry, I filled this out too fast.

[2019-02-28 14:22] Zimmi48 commented on #45
FTR I can merge the PR if needed but I don't feel competent to review it. Maybe @vbgl could do it too?

[2019-03-01 19:52] palmskog opened #48 "Document the project metadata format"
## Meta-issue ##

As per #47, we need to document the various metadata items that we use in our templates, such as `email` for `authors` entries. One source of documentation is our [examples](examples), but they do not cover all cases.

We can either write regular documentation, or use some machine-readable format, such as [JSON Schema](https://json-schema.org/learn/miscellaneous-examples.html) or

[2019-03-01 19:56] palmskog commented on #38
I think we should close this issue when:

- [ ] we have properly documented our SPDX requirements projects
- [ ] all Coq-community projects have a `meta.yml` which contains and SPDX identifier
- [ ] all Coq-community OPAM packages have migrated to using SPDX identifiers

[2019-03-02 17:01] Zimmi48 opened #49 "Add deploy job to CI to publish new releases when tag is put."
## Meta-issue ##

The idea is simply to make it as easy as possible for principal maintainers of coq-community packages to publish a new release.

When pushing a new tag, the deploy job would:
- create a release on GitHub, include information about the supported versions of Coq and dependencies;
- create a PR on the Coq opam repository using opam-publish or an ad-hoc script;
- (optional / later) c

[2019-03-02 17:11] ejgallego commented on #49
Note that `topkg` / `dune-release` already can do a lot of this workflow; so indeed you may want to start from there [and hope an eventual integration when all the pieces fall together]

[2019-03-02 17:33] Zimmi48 commented on #49
Thanks for the info. I hadn't realized `dune-release` was so powerful. Then, it makes sense to just wait on Dune support for Coq, migrate the coq-community packages, and document the process using dune-release.

[2019-03-02 17:40] ejgallego commented on #49
`dune-release` is just a fork of `topkg` which is indeed way more powerful [but it indeed allows more flexiblity]. In fact, I find `dune-release` a bit limited [for example they removed options to target a different opam repos, so indeed there is work to do here; but the base model `topkg bistro` seems a good starting point.

[2019-03-03 15:52] Zimmi48 commented on #49
OK, thanks for the additional info. So either we propose changes to `dune-release`, or we try something on top of `topkg`.

[2019-03-03 17:32] siddharthist commented on #45
I'm happy to help out with the maintenance and development of the included proof scripts, though I'm not very knowledgeable about plugins.

[2019-03-05 09:50] Zimmi48 commented on #38
We have a coq-community package (math-classes) that is not under an “open source” license per se but has a non-standard public domain dedication, thus it has no SPDX identifier. Since public domain allows everything, including changing the license, we should put a standard public domain license such as CC-0 or the Unlicense which both have a SPDX identifier.

[2019-03-05 13:52] Zimmi48 commented on #45
So shall I just go ahead and merge coq-contribs/containers#8?

[2019-03-06 09:21] Zimmi48 opened #51 "Move reduction-effects plugin to coq-community"
## Move a project to coq-community ##

**Project name:** reduction-effects

**Initial author(s):** Hugo Herbelin (@herbelin)

**Current URL:** https://github.com/herbelin/reduction-effects

**Kind:** OCaml plugin

**License:** LGPL 2.1 (to clarify if this is "or later")

**Description:** A Coq plugin to add reduction side effects to some Coq reduction strategies

**Status:** has not been maintaine

[2019-03-06 09:21] #21 closed

[2019-03-06 09:23] Zimmi48 commented on #15
There was no conclusion on moving coq-ext-lib to coq-community for now. We can reopen later this issue or a new one if needed.

[2019-03-11 01:28] palmskog opened #54 "Move hybrid to Coq-community"
## Move a project to coq-community ##

**Project name:** hybrid

**Initial author(s):** Herman Geuvers, Dan Synek, Adam Koprowski, and Eelis van der Weegen

**Current URL:** https://github.com/Eelis/hybrid

**Kind:** Coq library and extractable program

**License:** unknown

**Description:** A prover for hybrid systems, formalized using CoRN, MathClasses, and CoLoR.

**Status:** unmaintained since

[2019-03-11 01:39] palmskog opened #55 "Move ALEA to Coq-community"
## Move a project to coq-community ##

**Project name:** ALEA

**Initial author(s):** Christine Paulin-Mohring, David Baelde, and Pierre Courtieu

**Current URLs:** https://www.lri.fr/~paulin/ALEA/alea-v8.tgz https://github.com/EasyCrypt/certicrypt/tree/master/ALEA https://github.com/hivert/Coq-HookLength/tree/master/ALEA/ https://github.com/hivert/Coq-Combi/tree/master/3rdparty/ALEA https://githu

[2019-03-11 01:57] palmskog opened #56 "Move CertiCrypt to Coq-community"
## Move a project to coq-community ##

**Project name:** CertiCrypt

**Initial author(s):* Gilles Barthe, Benjamin Grégoire, Federico Olmedo, Santiago Zanella-Béguelin, Daniel Hedin, and Sylvain Heraud.

**Current URL:** https://github.com/EasyCrypt/certicrypt

**Kind:** pure Coq library

**License:** CeCILL-B

**Description:** A framework that enables construction and verification of code-based p

[2019-03-17 15:50] palmskog opened #57 "Move rippling to Coq-community"
## Move a project to coq-community ##

**Project name:** rippling

**Initial author(s):**

**Current URL:** https://github.com/tomprince/rippling

**Kind:** OCaml plugin

**License:** LGPL 2.1

**Description:** Plugin for automation of induction proofs using the rippling heuristic. A [paper](https://hal.inria.fr/inria-00489496/document) is available that describes the theory and implementation.

*

[2019-03-23 00:02] palmskog opened #59 "Proposal to move Velisarios to Coq-community"
## Move a project to coq-community ##

**Project name:** Velisarios

**Initial author(s):** Vincent Rahli, Ivana Vukotic, Marcus Völp, and Paulo Esteves-Verissimo

**Current URL:** https://github.com/vrahli/Velisarios

**Kind:** Coq library and extractable program

**License:** GPL-3.0-or-later

**Description:** Velisarios is a framework for verification of Byzantine fault-tolerant distributed sys

[2019-03-23 00:15] palmskog commented on #59
@vrahli can you confirm here that everything looks good with the above, and that you're OK with moving the original repository to the Coq-community organization? Feel free to propose more maintainers form your team.

@Zimmi48 can you invite @vrahli to the organization so he gets full access?

Note that my main motivation as co-maintainer would be to ensure working builds for Coq 8.9 and beyond to

[2019-03-23 11:30] spitters commented on #59
Interesting. Perhaps you can expand the readme a bit. Is there a connected paper?
The coq-tools directory seems like material that perhaps should be moved to a more central place.

[2019-03-24 16:31] Zimmi48 commented on #59
@spitters It seems like this is the corresponding paper: https://link.springer.com/chapter/10.1007/978-3-319-89884-1_22

@palmskog Sure I've invited @vrahli to the organization.

[2019-03-24 16:35] vrahli commented on #59
Here's a copy of the paper: https://vrahli.github.io/articles/velisarios.pdf

On Sun, Mar 24, 2019 at 5:31 PM Théo Zimmermann <notifications@github.com>
wrote:

--
https://vrahli.github.io/

[2019-03-26 01:28] palmskog opened #60 "Proposal to move NuprlInCoq to Coq-community"
## Move a project to coq-community ##

**Project name:** NuprlInCoq

**Initial author(s):** Vincent Rahli, Abhishek Anand, and Mark Bickford

**Current URL:** https://github.com/vrahli/NuprlInCoq

**Kind:** pure Coq library and extractable program

**License:** GPL-3-or-later

**Description:** A formalization of Nuprl's Constructive Type Theory (CTT) as of 2016, including an executable proof check

[2019-03-26 01:36] palmskog commented on #60
@vrahli expressed interest to move this project to the community, so I create this issue to keep track.

This project poses some unique challenges for CI due to its long proof checking time (hours, last time I investigated). Travis will time out for the whole project for sure. We may be able to come up with some special solution for CI via GitLab (cc: @Zimmi48), or we simply settle on checking onl

[2019-03-26 09:12] Zimmi48 commented on #60
@vrahli Could you confirm that https://github.com/coq-contribs/intuitionistic-nuprl is just a copy of the same project that diverged while being maintained by the Coq development team? If that's the case, I'll archive the coq-contribs copy as read-only with a link to the current repo.

BTW @vrahli, you should have received an invitation to join coq-community. After you accept the invitation, you s

[2019-04-01 20:22] liyishuai commented on #51
Any updates?
I've made the plugin usable in herbelin/reduction-effects#2 and am willing to comaintain this project.

[2019-04-02 08:20] Zimmi48 commented on #51
Hugo is overloaded in the current period, so I am not surprised he didn't answer. I'm going to see him today and ask him directly.

[2019-04-09 13:18] Zimmi48 commented on #59
@vrahli Since you have joined the organization, you should now be able to transfer your two repositories. Let me know if that's not the case or if you need help.

[2019-04-09 13:19] Zimmi48 commented on #51
I did this and he told me he would look into this but apparently he didn't do it yet. I'll ping him again when I get the chance.

[2019-04-09 15:04] Zimmi48 opened #61 "List of participants to coq-community is not easy to find and not visible enough."
## Meta-issue ##

To show to the outer world that coq-community is an active organization, it would be useful to be able to show the list of participants, in particular the list of principal maintainers. For now, people can easily browse the list of hosted projects. Some of these projects provide a `meta.yml` and `README.md` with the maintainer information but that is not the case for all, and eve

[2019-04-14 22:17] erikmd commented on #61
Hi @Zimmi48,
I vote for the last solution you propose, as maintaining the list of maintainers (no pun intended) could be easier if the number of information sources to update manually is limited…

For example, one can retrieve the list of `@user` mentioned in the description of the `nix-community` organization repos by running (after installing [curl](https://curl.haxx.se/download.html) and [jq](h

[2019-04-15 11:37] Zimmi48 commented on #61
Nice!
What to do for repositories with several principal maintainers? Should we extend the syntax or select a single representative? What would be a good way of extending the syntax that remains compatible with such a jq-based parsing?

[2019-04-15 15:04] erikmd commented on #61
@Zimmi48

good question;

The latter solution might be a bit unfair if there are several principal maintainers… so the former solution may seem preferable.

Regarding the syntax of GitHub usernames (cf. https://github.com/shinnn/github-username-regex) it amounts to (ASCII) alphanumeric characters and hyphens, so it is easy to extend the syntax to have no ambiguity => I propose:
* `[maintainer=@mai

[2019-04-15 15:12] erikmd commented on #61
If we select this idea, one may also want to write either:

* a small script to turn the JSON output automatically in a Markdown table (if one wants to put the list of maintainers in a README.md or a wiki page…);
* or keep the JSON format as is, and write some JS or Vue.js code to turn it into an HTML table…

[2019-04-15 17:28] herbelin commented on #51
Thanks a lot @liyishuai. I'm ok with the coq-community plan. If I understand correctly, I just have to follow the instructions at https://help.github.com/en/articles/transferring-a-repository, which I could then do whenever I get your confirmation.

[2019-04-16 06:23] Zimmi48 commented on #51
:+1:

[2019-04-16 08:35] Zimmi48 commented on #51
@herbelin has done the transfer already.
@liyishuai and @JasonGross you have been invited to join the coq-community organization.

[2019-04-16 09:15] Zimmi48 opened #62 "Issue with opam build using the template"
There is currently something going on that makes the opam job in math-classes, qarith-stern-brocot, lemma-overloading and aac-tactics fail.

The error looks like this:

[code]

cc @erikmd: You might be able to understand better than me what's going on.

[2019-04-16 10:16] erikmd commented on #62
@Zimmi48 thanks for opening this issue; it only affects `coqorg/coq:dev` which now relies on git pinning (`opam pin add -n -y -k git coq "git+https://github.com/coq/coq#${COQ_COMMIT}"`) instead of version pinning (`opam pin add -n -k version coq dev`).

It might be an opam bug, however I've just pushed a workaround that could fix coq-community's CI jobs…
We'll be able to restart one of these jobs

[2019-04-16 11:55] erikmd commented on #62
@Zimmi48 done, so I've relaunched this job:
https://travis-ci.com/coq-community/math-classes/builds/108405793

[2019-04-16 12:23] Zimmi48 commented on #62
That worked, thanks! Do you want to keep the issue open or to close it?

[2019-04-16 12:34] erikmd commented on #62
I've reported the issue upstream here: ocaml/opam#3828.

But regarding coq-community CI, the issue is resolved with the implemented workaround so I'd say we can close this issue #62 :)

[2019-04-16 12:34] #62 closed

[2019-04-17 14:03] Zimmi48 commented on #51
Everything is in place now.

[2019-04-17 14:03] #51 closed

[2019-04-17 14:41] Zimmi48 commented on #61
I have implemented the suggested solution. I am fond of the idea of a script to generate a Markdown table. I would put it in a specific file in the repository, or in the wiki.

[2019-05-02 23:07] palmskog commented on #2
Let's say Coq-community grows to dozens of projects with as many or more maintainers. It may happen that someone, adversarially or not, does something unwanted to a repository, such as removing it, moving it, corrupting it, etc.

Is there any periodic snapshotting being done of our repositories to restore from? I know various efforts try to archive open source code, but is there an easily accessib

[2019-05-03 08:26] Zimmi48 commented on #2
If it is code that you are talking about, I could easily set up mirrors of the coq-community repositories on gitlab.com. That wouldn't be sufficient to preserve meta-data such as issues though.

[2019-05-03 18:07] palmskog commented on #2
@Zimmi48 I'm primarily concerned with the code and commit metadata, but obviously issues and wikis matter as well, even though GitHub seems to keep a lot of history on those. It should be possible to script periodic dumping and copying of metadata using GitHub's API, right? Maybe something to work on at an upcoming workshop. Is this being done for Coq repos, by the way?

I'm all for mirroring at G

[2019-05-04 10:20] Zimmi48 commented on #2
GitLab's mirroring feature includes options to mirror even force-pushes and deletions, or to only mirror normal pushes and never delete anything. In this latter case, all the information is there to recover in case of accident. However, that could produce wrong alerts if people push topic branches and force-push to them.
GitHub's wikis are also git repositories so it is easy to setup a similar mir

[2019-05-07 07:13] Zimmi48 opened #64 "Move the exact-real-arithmetic contrib to coq-community."
## Move a project to coq-community ##

**Project name:** exact-real-arithmetic

**Initial author(s):** Jérôme Creci

**Current URL:** https://github.com/coq-contribs/exact-real-arithmetic

**Kind:** pure Coq library

**License:** LGPL-2.1

**Description:**  This contribution contains a proof of correctness of some exact real arithmetic algorithms from the PhD thesis of Valérie Ménissier-Morain

**

[2019-05-07 07:16] ybertot commented on #64
I won't have time to work on it before a few days.

[2019-05-07 07:19] Zimmi48 commented on #64
Sure, no rush.

[2019-05-12 19:10] palmskog commented on #2
For reference, one kind of situation I had in mind for backing up repos is [this](https://www.zdnet.com/article/a-hacker-is-wiping-git-repositories-and-asking-for-a-ransom/).

I'm fine with GitLab mirroring, even if it doesn't capture topic branches. But I think it should be complemented by repo tarballs, e.g., once for every 30 days back.

[2019-05-13 15:04] Zimmi48 commented on #2
Why tarballs?

A good point that I read through your comment is that the more people have write-access to coq-community repositories, the more chances we take that they will be compromised if one user leaks their credentials one way or another.

[2019-05-13 16:24] palmskog commented on #2
At least with tarballs one would know for sure: this is what the repository looked like at some specific time. With mirrors, I think one would need deep knowledge of git semantics and implementation to say something similar. For example, can't some just rewrite the reflog?

[2019-05-13 16:44] Zimmi48 commented on #2
I don't see what risk there would be if the mirror refuses to update if it's not a fast-forward. Then, you can only add stuff on top, not delete it.

[2019-05-13 16:56] palmskog commented on #2
I see the point, but one of my points with tarballs is that it removes git from the trusted base (and I don't particularly trust git and definitely not its implementation). In any case, I don't have anything against mirrors.

[2019-05-13 17:08] Zimmi48 commented on #2
OK now I see your point.

[2019-05-24 22:59] Zimmi48 opened #66 "Organization wide contributing guide and code of conduct."
## Meta-issue ##

I just learned that GitHub supports defining a default contributing guide and code of conduct for a whole organization, by putting these in a `.github` repository. I think it might be good to do that for coq-community. It was the idea from the beginning anyway, that this contributing guide and code of conduct applied to all coq-community projects, and that's why we include them i

[2019-05-28 12:03] anton-trunov opened #67 "Propagating changes from meta.yml to README, opam, etc. should be easier"
## Meta-issue ##

I'd like to have a `make` target, something like `make update_from_templates` or some other short and nice name, so every time I update `meta.yml` I can easily propagate the changes using from mustache templates into destination files.
This means we would probably need to separate the coq-community templates into a git repo and include them as a submodule into the projects that u

[2019-05-28 17:24] palmskog commented on #67
I personally don't mind splitting out the mustache templates to a separate repo with dedicated documentation, etc. However, I'm not at all fond of the idea of using git submodules in any way or form, at least in the projects I maintain. There may be some third option that @Zimmi48 and I can figure out in the near future...

[2019-05-28 17:40] anton-trunov commented on #67
That's precisely my feeling too :)

I'm looking forward to the solution you mentioned.

[2019-06-04 10:46] Zimmi48 commented on #67
With @palmskog, we are going to try out splitting the repo like you suggested during this week.

[2019-06-05 17:34] liyishuai opened #70 "Add Coq to Travis CI"
## Meta-issue ##
Our current template builds everything in Docker, which is less flexible than what Travis can do with other languages. It'll be nice if we could have `language: coq` and run scripts conveniently.
Travis allows [community-supported languages](//docs.travis-ci.com/user/languages/community-supported-languages), and our community seems the right people to do that.
Similar issue in OCa

[2019-06-20 07:37] Zimmi48 commented on #67
I discovered another organization that is massively using automatic generation of support files from a meta yml file: https://github.com/conda-forge/coq-feedstock#about-conda-forge

[2019-06-23 23:15] KevOrr opened #71 "dblib is unmaintained"
## Move a project to coq-community ##

**Project name and URL:** [dblib](https://github.com/coq-contribs/dblib)

**Current maintainer:** ?

**Status:** unmaintained

**New maintainer:** I volunteer as tribute

See coq-contribs/dblib#1

[2019-06-24 07:28] Zimmi48 commented on #71
First, thank you @KevOrr for proposing to maintain this project.

FWIW, some additional info:

**License:** GPL 3.0

**Initial author:** François Pottier (@fpottier)

There also exist https://github.com/fpottier/dblib which appears unmaintained too but is more interesting as a repository because it contains more commit history information, and more recent improvements by @gasche in particular. If

[2019-06-24 09:14] fpottier commented on #71
Indeed, I have not maintained dblib, partly by lack of time, partly because I think it is largely superseded by more recent and more ambitious projects like [Autosubst](https://www.ps.uni-saarland.de/autosubst/). If someone is willing to maintain it, that's fine with me. Porting it to recent versions of Coq may require some work, though, as there are some complicated and fragile tactics in there.

[2019-06-25 07:26] Zimmi48 commented on #71
@KevOrr Can you confirm your interest in maintaining this package after this additional information? If yes, we can proceed with transferring @fpottier's repository.

[2019-06-25 14:19] KevOrr commented on #71
Thank you @fpottier for the additional information. I agree it makes more sense to use [fpottier/dblib](https://github.com/fpottier/dblib) and archive [coq-contribs/dblib](https://github.com/coq-contribs/dblib). I am still interested in maintaining.

I'll figure out some time this week to see if anything (and if so, what) from the coq-community history needs to be cherry-picked in. It appears that

[2019-06-25 15:05] Zimmi48 commented on #71
Good. I've sent an invitation to join coq-community to both @KevOrr and @fpottier.
@fpottier: once you accept the invitation, you should be able to transfer your repository from the repository settings.

[2019-06-26 06:54] Zimmi48 commented on #59
@vrahli Do you still intend to transfer this project and NuprlInCoq to coq-community? If yes, let me know if you need help with the transfer operation. If not, we should close this issue.

[2019-06-26 06:55] Zimmi48 commented on #60
@vrahli Do you still intend to transfer this project and Velisarios to coq-community? If yes, let me know if you need help with the transfer operation. If not, we should close this issue.

Can you also confirm that the copy in coq-contribs should be archived and redirect to your version of the project?

[2019-06-26 06:59] Zimmi48 commented on #45
@StekiKun I'm still waiting on your answers. I can merge coq-contribs/containers#8 (without review) or I can let you merge it after transferring the repository.

However, before transferring the repository, I first need you to add an open source license of your choosing to it. It can be any license, but if you have no idea which license to choose, I'd suggest a permissive license like MIT.

[2019-06-26 07:00] Zimmi48 commented on #64
@ybertot Should we proceed with transferring this project now?

[2019-06-26 08:02] vrahli commented on #60
Yes, I still want to transfer this project and Velisarios to coq-community.
Yes, the copy in coq-contribs is outdated. The up to date version is this
one:
https://github.com/vrahli/NuprlInCoq

On Wed, Jun 26, 2019 at 7:55 AM Théo Zimmermann <notifications@github.com>
wrote:

--
https://vrahli.github.io/

[2019-06-26 09:35] fpottier commented on #71
What transfer would you like me to do exactly? Transfer fpottier/dblib to coq-community?

[2019-06-26 13:54] palmskog commented on #71
Yes, that's the idea.

[2019-06-28 07:32] maximedenes opened #72 "VsCoq"
## Move a project to coq-community ##

**Project name:** VsCoq

**Initial author(s):** C. J. Bell (@siegebell)

**Current URL:** https://github.com/siegebell/vscoq

**Kind:** UI for Coq

**License:** MIT

**Description:** A VSCode extension for Coq

**Status:** unmaintained (last commit in 2017, unmerged fixes / ports to newer Coq versions)

**New maintainer:** I volunteer

[2019-06-28 07:36] maximedenes commented on #72
Note: many contributors are maintaining patches on their VsCoq fork, but they are not merged currently due to the main repo being inactive, which is a pity. The `master` branch at https://github.com/maximedenes/vscoq collects such patches (from other authors) that make VsCoq compatible with the current Coq `master`, for example.

[2019-06-28 08:11] Zimmi48 commented on #72
Another note: @maximedenes has tried to reach out to @siegebell but without success so far.

Our contributing guide has an explicit process for this case:

Following this, I opened an issue on the vscoq repository: siegebell/vscoq#170.

[2019-07-02 16:06] fpottier commented on #71
Done.

[2019-07-03 08:46] maximedenes commented on #72
@Zimmi48 can I proceed and create the vscoq repo?

[2019-07-03 12:40] Zimmi48 commented on #72
Yes, I think we have left enough time.

[2019-07-03 17:11] anton-trunov opened #73 "A list of Coq resources maintained by community"
## Meta-issue ##

This is based on a recent Gitter discussion with @palmskog.

For instance, there is [awesome-ocaml](https://github.com/ocaml-community/awesome-ocaml) list.

Should we create something like this for Coq projects?

[2019-07-03 17:26] palmskog commented on #73
Some observations from my side:
- better to focus on listing code repositories than documentation, books, and papers, which are already listed elsewhere
- code repository listing should be completely manual (e.g., not use GitHub stars) and could possibly even include last known Coq version known to be compatible with the project
- ideally it should be possible to use several criteria to find a pro

[2019-07-03 17:31] palmskog commented on #73
Thanks to the work of Maxime, we now have machine-readable listings of Coq OPAM archive projects: https://coq.inria.fr/opam/coq-packages.json

However, many useful projects do not have releases, and have no packages in the OPAM archive.

For reference, the following automatically generated lists of Coq GitHub projects already exist:
https://github.com/xgrommx/coq-ecosystem
https://github.com/uhub/

[2019-07-10 17:43] palmskog opened #75 "Automation for citing Coq-community projects in publications"
## Meta-issue ##

As highlighted for Coq in [this issue](https://github.com/coq/coq/issues/5766), the possibility of conveniently citing projects in academic publications is important for many community participants, and can lead to higher visibility and more funding in the future.

The typical way of making an open source software project citeable is to put a release on Zenodo, e.g., [Coq 8.9.0](

[2019-07-11 08:01] Zimmi48 commented on #75
That's a very good idea. It shouldn't be much more work to implement this automation for all coq-community packages beyond just for Coq, and it should even be useful for many more projects.

[2019-07-11 08:05] Zimmi48 commented on #75
Actually, I had almost forgotten that Zenodo already provides this kind of automation (as mentioned in the Coq issue): https://zenodo.org/account/settings/github/
I didn't find it sufficiently satisfying for Coq, but it should be for most projects, including for coq-community projects. We could start testing it on a sample of projects, and then document how to use it.

[2019-07-11 08:20] Zimmi48 commented on #73
https://github.com/xgrommx/coq-ecosystem does not seem to me to bring anything better than https://github.com/topics/coq. [BTW, there is a related issue: coq/coq#10507.]

As for https://github.com/uhub/awesome-coq, it looks manually curated to me, even if the categorization should be improved and more data should be added (for instance, I noticed at least one unmaintained repo in there).
Since an

[2019-07-11 15:48] Zimmi48 commented on #2
@palmskog I think this issue has diverged from its initial topic, and we should create a separate issue regarding backup and hide the off-topics comments from this issue. FTR I have created the GitLab coq-community organization and the mirrors for all the current repositories, as a temporary solution while waiting for a better one.

[2019-07-11 15:54] Zimmi48 commented on #2
I'd like to go back to the question of the default member permissions. I think it's time that not everyone is an admin of every repository, so I propose the following:

- default member permissions become write-access to all repositories;
- members retain the ability of creating / transfering repositories (this is a separate permission, and you don't need admin permissions for this);
- principal m

[2019-07-11 16:33] anton-trunov commented on #2
@Zimmi48 I think your proposal makes total sense. We can always tweak some details as we go along, right?

[2019-07-11 16:49] palmskog commented on #2
It's indeed important to consider default member permissions, and I generally agree with the proposal by @Zimmi48.

However, do we have a criterion for what is considered a "principal maintainer"? When there's only one maintainer, this is obvious, but arguably not in other cases. Should we record maintainer status in metadata somewhere? I guess establishing criteria could fall under the "tweak" ca

[2019-07-12 08:27] Zimmi48 commented on #2
@palmskog I didn't mean "principal maintainer" as a single individual. I have always used this phrasing to carry the meaning that the maintainers of a project are not necessarily alone in maintaining it and can be helped by community contributions. Thus, here the plan is to give admin rights to whoever is listed as "maintainer" in the repo description and the `meta.yml` file when it exists.

[2019-07-12 18:49] Zimmi48 opened #76 "Back-up repository data"
## Meta-issue ##

This issue is extracted from an off-topic discussion in #2.

@palmskog on 2019-05-03

@Zimmi48

@palmskog

@Zimmi48 on 2019-05-04

@palmskog on 2019-05-12

@Zimmi48 on 2019-05-13

@palmskog

@Zimmi48

@palmskog

@Zimmi48

@Zimmi48 on 2019-07-12

[2019-07-12 18:52] Zimmi48 commented on #2
This is now done but still needs to be documented.

[2019-07-18 12:46] Zimmi48 commented on #72
FTR The project was created (https://github.com/coq-community/vscoq).

@maximedenes I just noticed that the previous project had documentation in its wiki (in fact the README still redirects to the old README) but this wiki has not been duplicated in the new repository. You can easily do so given that GitHub wikis are just normal git repositories, so it's just a matter of activating the wiki, retr

[2019-07-18 12:47] maximedenes commented on #72
Yes, thanks. I believe part of this documentation has been moved to the Coq repo, and other parts will need updated. I'll look at it once the most pressing issues are addressed.

[2019-07-25 22:46] palmskog opened #78 "Proposal to add sources and exercises from Coq'Art book to Coq-community"
## Move a project to coq-community ##

**Project name:**  Coq sources and exercises from Coq'Art

**Initial author(s):** @Casteran @ybertot

**Current URL:** http://www.labri.fr/perso/casteran/CoqArt/

**Kind:** pure Coq library

**License:** CeCILL-B

**Status:** unclear (last [update](http://www.labri.fr/perso/casteran/CoqArt/booksite87-export.tar.gz) was for Coq 8.7)

Coq'Art is still the refer

[2019-07-26 05:24] Casteran commented on #78
Dear Karl,

I agree !

I can prepare an update for CoqV8.9 with the sources and solutions of exercices of the Coq'Art from the 8.7 version.
I think it will take some time if I integrate recent idioms but it should be ready for mid-september.

Then, we will organize the adaptation to the Coq-community format.

Yves, are you OK ?

Best regards,

Pierre

[2019-07-26 09:42] ybertot commented on #78
I agree. I understand that Pierre will look at the problem of porting the stuff to coq 8.9. However, if Pierre wants some help, just write to me again about it.

Yves

[2019-07-26 14:39] Casteran commented on #78
Yes,
   I will advise you when I have a version that is fully compatible with coq V8.9 (no errors, no warnings).
 Pierre

----- Yves Bertot <notifications@github.com> a écrit :

[2019-07-28 12:39] Casteran commented on #78
Hello,

I updated the stuff to coq 8.9. The tar.gz is now at the following address :
[ http://www.labri.fr/perso/casteran/CoqArt/coqart.V89.tar.gz | https://www.labri.fr/perso/casteran/CoqArt/coqart.V89.tar.gz ]

In addition to the examples and solutions of the exercises of the book, it contains also the scripts associated to the tutorials I co-authored with Eduardo and Matthieu.
Please tell me if

[2019-07-28 15:35] palmskog commented on #78
Dear Pierre and Yves,

As you may have already noticed, I created the Coq-community repository and imported the sources from Pierre's 8.9 archive: https://github.com/coq-community/coq-art

With your permission, I will continue to help out with continuous integration and metadata for the repository (but will not modify actual Coq content).

[2019-07-28 15:58] Casteran commented on #78
Thank you !

By the way, I forgot to remove some old files which are useless now. Since I'm not expert in github yet, could you remove them ?
alltex.sh AFAIRE.txt README.txt make_project To_do.txt

Best regards,

Pierre

[2019-07-28 16:07] palmskog commented on #78
Hi Pierre,

Sure, I can take care of removing those files when I add scripts for CI.

Thanks,
Karl

[2019-08-01 06:31] anton-trunov opened #79 "Move coq-bits to coq-community"
## Move a project to coq-community ##

**Project name:** coq-bits

**Initial author(s):** Arthur Blot (@artart78), Pierre-Évariste Dagand (@pedagand), Julia Lawall (@JuliaLawall)

**Current URL:** https://github.com/artart78/coq-bits

**Kind:** pure Coq library / extractable program

**License:** Apache License 2.0

**Description:** A formalization of bitset operations in Coq and the corresponding

[2019-08-06 13:30] Zimmi48 commented on #79
@artart78 has approved the transfer, and we are without news of the other authors, so I think we should proceed without any further wait. I have sent an invitation to @artart78 to join the organization so that the transfer is made possible.

[2019-08-06 22:03] pedagand commented on #79
Feel free to go ahead, sorry for the late reply

On Tue, Aug 6, 2019 at 3:30 PM Théo Zimmermann <notifications@github.com>
wrote:

--
Pierre-Evariste

[2019-08-12 15:45] Zimmi48 commented on #79
Project has been transferred.

[2019-08-12 15:45] #79 closed

[2019-08-12 15:45] Zimmi48 commented on #78
@palmskog Should we close this now that the repository has been created?

[2019-08-12 15:46] Zimmi48 commented on #72
@maximedenes Should we close this and track the remaining issues related to the transfer on the vscoq repository?

[2019-08-12 15:52] #78 closed

[2019-09-06 19:55] Zimmi48 commented on #67
Another possible source of comparison / inspiration:
https://github.com/voxpupuli/modulesync (tool)
https://github.com/voxpupuli/modulesync_config (templates)

[2019-09-09 01:07] #71 closed

[2019-10-09 13:57] spitters commented on #15
coq-ext-lib fails to compile in 8.9 in opam (on my machine).
I'd suggest moving coq-ext-lib to CI, but I think that's related to this issue.

[2019-10-09 14:12] Zimmi48 commented on #15
It is already in Coq's CI... I'd say it is probably an issue of preparing a new opam release.

[2019-10-09 19:20] gmalecha commented on #15
I haven't had a lot of time lately to maintain ExtLib so if it makes sense, I can move it to CoqCommunity. I would love to incorporate the ideas from it into stdlib2, but I don't have cycles right now and it seems like stdlib2 is moving in a different (better?) direction.

[2019-10-09 21:12] liyishuai commented on #15
As a heavy user, I'm willing to maintain ExtLib.

[2019-10-09 22:45] gmalecha commented on #15
That's great. I'd be happy to add you as a maintainer of the current repository in the meantime.

[2019-10-10 12:42] Zimmi48 commented on #15
@gmalecha I have invited you to join coq-community so you should be able to transfer the ext-lib repository as soon as you accept it. Just to clarify, should the new official maintainer be @liyishuai alone, or the both of you?

[2019-10-13 01:52] liyishuai commented on #15
I'm now able to do the transfer. Should I read Gregory's previous comments as approving and proceed? We can update official maintainers anytime.

[2019-10-13 02:03] liyishuai commented on #15
I've seen several @PrincetonUniversity projects that install dependencies from source rather than OPAM. It's more of a preference, not because OPAM doesn't work.

[2019-10-13 14:47] gmalecha commented on #15
I'd like to stay on as a contributor, and I might get some cycles in the future to do more maintenance, but I won't be able to do active maintenance.

[2019-10-13 20:18] liyishuai commented on #15
I've transferred the repository. @Zimmi48 could you grant Gregory and me admin access to https://github.com/coq-community/coq-ext-lib?

[2019-10-14 12:30] Zimmi48 commented on #15
Done.

[2019-10-14 12:33] Zimmi48 commented on #15
Possibly also the influence of CompCert upon VST.

[2019-10-14 12:40] Zimmi48 commented on #15
I guess this issue can be closed now.

[2019-10-14 12:40] #15 closed

[2019-10-14 22:26] erikmd commented on #70
Hi @liyishuai

As we discussed just now in coq-community/templates#1, the necessary boilerplate involved in the Travis-CI+Docker-Coq templates is not that verbose…

However, I think this use case (reducing the verbosity of the CI script by making Travis CI support Docker-based testing "natively" like GitLab CI or Circle CI) is directly related to these upstream issues:

- https://github.com/travis

[2019-10-15 11:35] Zimmi48 commented on #70
Note that while Travis support would need to be maintained, and so represents additional work, it also becomes more straightforward for any Coq user to test their projects. Existing Travis users will find the information on how to test their Coq projects more quickly. It has another advantage which is to add Coq to the list on this page https://docs.travis-ci.com/user/languages, which is one of ma

[2019-10-15 11:36] Zimmi48 commented on #70
One main requirement is to have three volunteers. I can be one of them if needed. I haven't looked yet at how much work this would represent though.

[2019-10-15 12:25] llelf commented on #70
@Zimmi48 I looked at how Perl 6 (one of the “community-supported” languages) works, and the minimal (i. e. no any fancy stuff like matrices of builds etc, **and** they just build the compiler each time from the source) version is as simple as https://github.com/travis-ci/travis-build/commit/7becb333a0b53a15ebe60a8edc563b9c68c77f75.

[2019-10-15 15:49] Zimmi48 commented on #70
Thanks for looking into it. Building Coq every time from source is definitely not an option. If we decide to provide a native Travis support, it needs to be good enough, because there is nothing worse than to frustrate users. If providing good support is deemed too costly, it's better not to do anything.

[2019-10-15 19:08] llelf commented on #70
Then there should be a place to store binaries for (at least one) Ubuntu version travis supports. [Namely](https://docs.travis-ci.com/user/reference/linux/),
[code]

The `apt install` Coq version in those a no-go, as it’s extremely old.

macOS version can be just downloaded from github releases.

[2019-10-15 22:58] liyishuai commented on #70
I can volunteer if needed. If done I'd use it on QuickChick, which would save a lot of effort compared to [current process](https://github.com/QuickChick/QuickChick/blob/8.9/.travis.yml#L26-L35).

[2019-10-15 23:06] liyishuai commented on #70
We should probably install Coq via OPAM even if there are binaries available, for convenient dependency management.

[2019-10-16 08:48] Zimmi48 commented on #70
As long as it can be cached somewhere that will avoid rebuilding every time.

[2019-10-16 18:56] liyishuai commented on #70
Did you mean caching Coq or dependencies?
Our environment should provide Coq installed, with version specified as parameter (should we specify OCaml version as well?) I don't think we should cache dependencies by default, since Travis fetches caches [in a weird way](https://docs.travis-ci.com/user/caching/#fetching-and-storing-caches) that might retrieve from other branches.

[2019-10-17 11:00] Zimmi48 commented on #70
I mean Coq. I'm not sure what you mean by "dependencies".

[2019-10-17 11:54] llelf commented on #70
What do you mean exactly?

The problem with the caches is that only successful builds are cached.
`apt install`-ing pre-built binaries (or even `curl | tar -xf`) actually would be better user experience.

[2019-10-17 16:48] liyishuai commented on #70
Correct me if I'm wrong: I thought the `configuration` stage (where we install Coq) is done before the user's build, creating some image to start with, so there's no need to "cache" Coq.
My experience was caching the whole OPAM directory. When there's no cache available on some non-default branch, Travis fetches one from the default branch, which contains unwanted packages that mess up everything

[2019-11-04 21:27] anton-trunov opened #81 "Add `version: "dev"` to opam template and coq-community repos"
As noted by @palmskog on Gitter:

[2019-11-09 08:43] palmskog opened #82 "Proposal to move project X to coq-community"
**Project name:** FSCQ

**Initial author(s):** Haogang Chen, Daniel Ziegler, Tej Chajed, Adam Chlipala, M. Frans Kaashoek, and Nickolai Zeldovich

**Current URL:** https://github.com/mit-pdos/fscq

**Kind:** Coq library and extractable program

**License:** MIT

**Description:** FSCQ is a file system written and verified in Coq.

**Status:** Unmaintained (README says "Unmaintained research prototy

[2019-11-12 18:28] palmskog opened #83 "Proposal to move Polaris to coq-community"
**Project name:** Polaris

**Initial author(s):** Joseph Tassarotti

**Current URL:** https://github.com/jtassarotti/polaris

**Kind:** pure Coq library

**License:** BSD

**Description:** Library for reasoning about probabilistic and concurrent programs, based an extension of the Iris project for probabilistic and relational reasoning.

**Status:** Appears to be unmaintained (doesn't work with Co

[2019-11-12 18:54] jtassarotti commented on #83
Thanks for your interest in this project, Karl. I have broken out the library for probability theory into a separate repo (https://github.com/jtassarotti/coq-proba) under Apache 2.0, and I am maintaining that (and extending it even, contributions welcome). It should build against 8.9.1.

I imagine most of the general interest is in this part of the library, so in light of that perhaps there is not

[2019-11-12 19:33] palmskog commented on #83
@jtassarotti thanks for flagging up the proba project. We would very much encourage submitting OPAM (2.0) packages for it [here](https://github.com/coq/opam-coq-archive) for better dissemination in the community.

It still looks to me like it could be a good student project to refactor/generalize the non-proba Polaris code for maintainability - preserving the paper artifact. So if you don't mind,

[2019-11-26 03:51] k4rtik opened #84 "Proposal to move project hoare-tut to coq-community"
**Project name:** Tutorial on Hoare Logic

**Initial author(s):** Sylvain Boulme

**Current URL:** https://github.com/coq-contribs/hoare-tut/

**Kind:** pure Coq library / tutorial

**License:** LGPLv3

**Description:** A Tutorial on Reflecting in Coq the generation of Hoare proof obligations

**Status:** Unmaintained (see: https://github.com/coq-contribs/hoare-tut/pull/1#issuecomment-553979288)

[2019-11-26 03:55] k4rtik opened #85 "Proposal to move project semantics to coq-community"
**Project name:** Semantics

**Initial author(s):** Yves Bertot

**Current URL:** https://github.com/coq-contribs/semantics

**Kind:** pure Coq library / formalization of PL semantics

**License:** LGPL

**Description:** A survey of semantics styles, from natural semantics through structural operational, axiomatic, and denotational semantics, to abstract interpretation.

**Status:** Unmaintained (

[2019-11-26 09:06] Zimmi48 commented on #85
Thanks for proposing to maintain this contrib.

Cc @ybertot FYI. BTW @ybertot could you tell us which version of the LGPL it is intended to be? Unfortunately, the contrib submission form that was available at the time of the submission was pretty sloppy and only allowed a choice between LGPL and BSD-like without further specifications. Nowadays, we generally recommend choosing LGPL 3.0-or-later.

[2019-11-26 09:08] Zimmi48 commented on #84
Thanks for proposing to maintain this contrib.

Cc @boulme (for your information)

[2019-11-26 09:09] Zimmi48 commented on #64
@ybertot Should we still proceed to transfer this project with you as maintainer (not a very time-consuming task in general) or should we label this as looking for a maintainer?

[2019-11-26 09:12] Zimmi48 commented on #60
@vrahli The copy at coq-contribs has been archived. You have been made a member of coq-community. Therefore, if you still intend to transfer this project, you should have everything you need to be able to proceed. If not, we should probably close this issue instead.

[2019-11-26 09:14] #72 closed

[2019-11-26 10:06] ybertot commented on #64
I am worried about getting permission from the initial author, and never got around to doing it.  What is your opinion?

[2019-11-26 12:01] Zimmi48 commented on #64
Legally speaking, you don't need to obtain permission because this is properly licensed as free software.
Morally speaking, you don't need to obtain permission either because this was formerly a contrib, thus the initial author already intended for this project to be maintained by others.
Informing the initial author of the move is nice, but could be done as a later step.

[2019-11-26 12:54] ybertot commented on #85
Concerning the license, I chose that one when making my contribution available because I thought it was the most permissive one (but I did not spend too much time thinking about it).  But today I went to read LGPL-3.0 and there are too many sentences I don't understand.  I don't understand what they mean by "convey", I don't understand when people can do anything with it or not.

@Zimmi48, would i

[2019-11-26 14:01] Zimmi48 commented on #85
Yes, it would.

[2019-11-26 14:19] ybertot commented on #85
So I suggest the license is moved to MIT.

[2019-11-26 14:47] ybertot commented on #85
I approve this move from coq-contrib to coq-community.  I will occasionally contribute.  I am happy that @k4rtik volunteers to maintain it.

[2019-11-26 14:54] k4rtik commented on #85
Thanks, @ybertot!

Thanks @Zimmi48 for suggesting it.

[2019-11-27 09:45] Zimmi48 commented on #85
Repository now transferred to coq-community. @k4rtik You've been made a member of coq-community and an admin of semantics (and hoare-tut). You should have received three invitation e-mails but only the first one (invitation to join coq-community) matters: by accepting this one, you will be accepting the others.

Please change the license of semantics to MIT as wished by Yves as a first step, and l

[2019-11-27 09:46] Zimmi48 commented on #84
Repository has been transferred.

[2019-11-27 13:06] k4rtik commented on #85
Done! Closing this now.

[2019-11-27 13:06] #85 closed

[2019-11-27 13:06] k4rtik commented on #84
Thanks @Zimmi48

[2019-11-27 13:06] #84 closed

[2019-11-27 14:19] Zimmi48 commented on #85
I suggest you additionally delete the `description` file, which still contains the reference to the LGPL license, and move the relevant information to a new `meta.yml` file, which can be used to generate a number of files from the templates available at https://github.com/coq-community/templates. We can help with this if you need (documentation on how to use them is not great yet).

[2019-11-27 14:21] Zimmi48 commented on #64
FTR I'm waiting on your "go" before actually performing the transfer.

[2019-11-27 14:21] k4rtik commented on #85
Sorry, I intended to modify the description file but missed it; but certainly more needs to be done. Will do, thanks.

[2019-11-28 07:20] ybertot commented on #64
Yes, go. I will organize myself to work on it in the next few weeks.

[2019-11-28 08:59] Zimmi48 commented on #64
Repository transferred, and you've been made an admin. I'll let you close this issue.

[2019-11-29 15:47] magaud commented on #64
Can I be a (co-)maintainer for the development as well ?

[2019-11-29 16:15] Zimmi48 commented on #64
Glad to hear back from you @magaud! I've just sent you an invitation to join coq-community.

[2019-11-30 10:50] Zimmi48 commented on #64
@magaud I've added you to the maintainers of this repo. Should this issue be closed now?

[2019-12-10 05:38] anton-trunov commented on #55
@volodeyka and I are volunteering to maintain this project. In fact, we already make it compile with a recent Coq version: https://github.com/anton-trunov/alea. If we could get a go-ahead from the original authors (CC @Matafou), then I'd transfer the ownership to Coq-Community.

[2019-12-10 14:31] palmskog commented on #55
This is great, I think it's useful both as a paper artifact and as a step towards getting CertiCrypt working again. One property that perhaps @Matafou could comment on is the license. According to [this file](https://github.com/coq-contribs/random/blob/master/LICENSE), the license seems to be either `LGPL-2.1-only` or `LGPL-2.1-or-later`, but unclear which one.

[2019-12-10 14:45] palmskog commented on #55
@anton-trunov since parts of ALEA seem to be in the [Random](https://github.com/coq-contribs/random) Coq contrib, maybe it's better to transfer the contrib repo to Coq-community and then add your changes there? Otherwise, the contrib should be marked as obsolete once another repo lives here.

[2019-12-10 14:59] Zimmi48 commented on #55
Indeed. Given that there isn't much history to preserve over there, I was indeed considering that we could archive the contrib after the transfer.

[2019-12-10 15:35] Matafou commented on #55
Hi,
I am currently asking the two other authors. David agreed. Still waiting for Christine's answer, which I expect to be positive as well.

Regarding license I have no idea which one is actually legitimate.

[2019-12-10 15:35] Matafou commented on #55
Ho and my answer is positive as well of course. Thank you!

[2019-12-11 13:30] anton-trunov commented on #55
Awesome, thank you very much @Matafou for your permission and for asking your coauthors about this matter!

@palmskog @Zimmi48 Great proposal, I had missed the reference to Random before. There is just one little thing -- it's the end of @volodeyka's internship and I'm not sure he has time to work on it this year. Maybe we could finish the transfer and move the suggestion as an issue. Then at a le

[2019-12-12 10:27] Zimmi48 commented on #55
I am not sure to understand what you propose. If we decide to transfer your version of ALEA, then it's fine. I'll just archive the random contrib with a link to the appropriate version, as it has been done before.

[2019-12-12 11:27] palmskog commented on #55
If my reading of the Random contrib metadata is correct, it's actually based on the original (2007) release of ALEA and not the expanded one from 2013. Hence, I think it probably makes more sense to archive the contrib than to transfer it. Consequently, I think we can just move Anton's repository to Coq-community right now.

@Matafou if the license is not 100% clear, is there any chance you and th

[2019-12-12 11:32] anton-trunov commented on #55
A minor remark: the ported version of ALEA is bigger than the Random contrib in terms of lines of code: 11499 vs 8257.

[2019-12-12 11:33] anton-trunov commented on #55
@Zimmi48 I took a closer look at the Random contrib and now I'm in favor of just a simple transfer of the ported ALEA repo.

[2019-12-12 18:32] palmskog opened #86 "Proposal to move JMLCoq to coq-community"
**Project name:** JMLCoq

**Initial author(s):** Hermann Lehner (http://people.inf.ethz.ch/lehnerh/ http://www.hermann-lehner.com)

**Current URL:** http://jmlcoq.info (http://jmlcoq.info/index_files/JMLCoq.tar.gz)

**Kind:** pure Coq library

**License:** MIT

**Description:** Coq formalization of the Java Modeling Language.

**Status:** unmaintained since 2011

**New maintainer:** looking for a

[2019-12-13 11:14] Zimmi48 commented on #86
I suggest reaching out to the author and asking them about open source licensing even before (and independently of) finding a volunteer to maintain it as part of coq-community.

[2019-12-13 13:11] palmskog commented on #86
I contacted the JMLCoq author, and he said that he is willing to license the project under the MIT license. I think he will also update the website and code archive with this information soon.

[2019-12-18 06:03] palmskog opened #87 "Adding support for dune builds in coq-community projects"
The [dune](https://github.com/ocaml/dune) build system solves many problems with `make` and `coq_makefile` for Coq libraries and plugins, not least [flaky plugin builds](http://coq-blog.clarus.me/fixing-flaky-makefiles-in-opam-coq-packages.html). The tooling around dune, such as `dune-release` also automates many tedious maintenance tasks, e.g., creation of OPAM files and submitting pull requests

[2019-12-24 09:33] palmskog commented on #87
To the best of my knowledge, as of December 2019, dune support for Coq has the following limitations:

- lack of support for Coq native compilation
- no way to access the Coq version in dune build scripts (planned to be exposed as `%{coq_version}`)
- due to build hygiene imposed by dune, all `.vo` files show up in a subdirectory and are thus not easily accessible by interfaces such as ProofGeneral

[2020-01-02 10:17] palmskog opened #88 "Proposal to move CoqdocJS or a fork to coq-community"
**Project name:** CoqdocJS

**Initial author(s):** Tobias Tebbi (@tebbi)

**Current URL:** https://github.com/tebbi/coqdocjs https://github.com/palmskog/coqdocjs

**Kind:** collection of JavaScript and CSS code

**License:** BSD

**Description:** CoqdocJS is a collection of scripts to improve the HTML output of the coqdoc tool, adding features such as hiding/showing proof scripts on command.

**St

[2020-01-05 10:30] tebbi commented on #88
I no longer work with Coq, so I'm the wrong person to keep maintaining CoqdocJS. Do your changes to CoqdocJS make it less useful outside of coq-community?

[2020-01-05 10:36] tebbi commented on #88
Adding some users and contributors of CoqdocJS:
@fakusb @chdoc @yforster @tchajed @Lysxia @HuStmpHrrr

[2020-01-05 15:14] chdoc commented on #88
Hi, thanks for bringing this to my attention. I haven't had the time yet to look at the changes @palmskog made. As a user (and marginal contributor), I am very much in favor of this being actively maintained and I suppose that coq-community is a decent place for this.

However, care should be taken that CoqDocJS continues to fulfill its users needs. That is, it should be useful both for GitHub int

[2020-01-05 15:30] palmskog commented on #88
@chdoc @tebbi the key changes I made in my fork is introducing quite strict assumptions on how the workflow is supposed to work: the non-coqdoc-generated `.js`, `.css`, `.html` assets live in the `resources` directory and are copied with the coqdoc output to the `docs` directory. However, the core CSS and JavaScript is essentially unchanged, and the small changes could be quite easily integrated u

[2020-01-05 16:37] chdoc commented on #88
I'm all in favor of a more strict workflow, in particular if it eases usage. I had a quick look at your fork and the workflow described there, and I have two remarks:

- I like the Makefile.coq.local approach, seems easy to use and reasonably portable
- I'm doubtful about copying the resources folder. I usually add CoqDocJS as a submodule, so that the project can easily profit from improvements to

[2020-01-06 07:20] liyishuai commented on #88
I'd also prefer submodule to copying folder. Is there a configuration in `_CoqProject` to `include coqdocjs/Makefile.coq.local` in `Makefile.coq`? That'll make the workflow more automated.

[2020-01-09 19:36] palmskog commented on #73
We decided to start a new awesome-coq list in the end: https://github.com/coq-community/awesome-coq

[2020-01-10 20:32] ejgallego opened #89 "Social media / Twitter account"
Hi folks,

the [discussion here](https://gitter.im/coq-community/Lobby?at=5e18d545a74ac8537789175c) made me wonder about the communication strategy of Coq Community, and in particular presence on social media.

Personally, I think that having a (shared) twitter account would be a great idea; twitter is of course not perfect but a lot of researcher and potential audience is already there; it is lig

[2020-01-10 20:53] anton-trunov commented on #89
Emilio, I fully support that! IMVHO, professional accounts like the intended one could make Twitter a better place.

[2020-01-10 21:04] palmskog commented on #89
I'm fine with there being a Twitter account, but I'll probably stay away myself unless we can figure out some automation for posting about new releases and the like.

[2020-01-11 16:38] ejgallego commented on #89
I guess more input here is needed, at least from @Zimmi48 , @herbelin , @ybertot (and who else? )

A technical detail needed to implement this is what should the mail address associated to the twitter account be. Ideally we would setup an institutional email `@inria.fr` ? Using gmail, etc... poses significant risk in case of account blockage.

[2020-01-11 17:03] herbelin commented on #89
I must confess I'm not familiar with using twitter, so I don't feel competent to answer, but that looks like a good idea.

[2020-01-12 12:06] ccding commented on #73
I am the owner of https://github.com/uhub/awesome-coq (@uhub is an organization account)

Sorry I was traveling recently and didn't have time to read GitHub messages. Please let me know if you need any help.

[2020-01-12 20:46] anton-trunov commented on #73
Hi @ccding,

 Your contributions are very welcome! Feel free to fire up a PR or post an issue.

[2020-01-12 20:48] anton-trunov commented on #73
Looks like this issue can be closed and any further discussion could be moved to the issues of https://github.com/coq-community/awesome-coq

[2020-01-12 20:48] #73 closed

[2020-01-13 13:53] palmskog commented on #88
@liyishuai I would prefer to stay completely agnostic to git submodules, since I don't (ever want to) use them myself. The recent changes to the CoqdocJS fork should address the above concerns and reported bugs. The key for me is to keep the possibility open for simply copying over files into the repo.

@chdoc in order to ensure wide usability of CoqdocJS inside and outside Coq-community, maybe th

[2020-01-13 14:37] Zimmi48 commented on #89
@ejgallego Do you think it makes sense to use a private mailing list as the e-mail address for this Twitter account? If yes, then we can set up one on Inria's sympa server.

Note that here it seems you are proposing a "coq-community" Twitter account, but to me it would make more sense to just focus on a "Coq-lang" Twitter account (which could indeed be community-managed). Thus similar to https://t

[2020-01-13 14:40] palmskog commented on #89
I also think a general Coq Twitter account, managed by (someone at) INRIA, makes more sense.

[2020-01-13 14:42] chdoc commented on #88
I believe that usage/adoption of CoqDocJS will be aided by avoiding a forest of forks, and I'm willing to help maintain it, if Tobias wants to relinquish his control of the project.

As it comes to the submodule vs copying workflow, this might be as simple as making it the default copying workflow to put the CoqDocJS files into a folder named (for example) `coqdocjs`, i.e., adding one level of fol

[2020-01-13 14:51] palmskog commented on #88
@chdoc great, I have invited @tebbi to join the coq-community organization to allow him to transfer the repo easily, should he agree with this plan. I will invite you also once the repo is transferred.

[2020-01-14 17:26] ejgallego commented on #89
Indeed a possibility would be to have a Coq "marketing" team, we have discussed this a few times; I am OK with that [and added an item for the next Coq Call] but keep in mind that putting that under the Coq umbrella has some downsides, in particular the management of the account may become less agile, etc...

Let's see what the results for the call are.

[2020-01-15 10:43] Zimmi48 commented on #89
Agreed, that's why I was suggested a CoqLang account, but still community-managed.

[2020-01-15 20:24] ejgallego commented on #89
We will create a twitter account indeed; will close this issue when the account goes live.

[2020-01-17 14:56] liyishuai commented on #88
@palmskog are you planning to update your fork to make the workflow compatible with both submodule and copying? as @chdoc describes:

[2020-01-17 15:06] palmskog commented on #88
@liyishuai right now I'm waiting for greenlighting from @tebbi and his potential transfer of the repo to the coq-community organization. If the transfer takes place, I would expect to first add my separate `coq-community` branch without explicit submodule support and then do PRs against `master` vetted by @chdoc.

[2020-01-18 15:11] tebbi commented on #88
I agree with the plan goind forward; I just transferred the repo.

[2020-01-18 21:28] palmskog commented on #88
Thanks for everyone's input, let's continue any discussion as CoqdocJS issues and PRs. I've invited @chdoc to join the organization.

[2020-01-18 21:28] #88 closed

[2020-01-28 03:09] JasonGross commented on #16
I've also been doing a bit of development on proviola at https://github.com/JasonGross/proviola-source (mainly for HoTT, which continues to use it, and occasionally runs into issues)

[2020-01-28 19:59] palmskog opened #90 "Guidelines for advocacy for Coq and Coq-community"
Many Coq-community members regularly do advocacy for Coq itself, for Coq-community, type theory, machine-checked proofs, Coq libraries, Coq-verified software, and so on. It helps to have guidelines about how to best perform advocacy. This is just meant to start a discussion, but I can see at least the following (example) issues:

## Terminology
- Coq is a "proof assistant", or "interactive theorem

[2020-01-28 20:18] spitters commented on #90
This initiative may be worth mentioning, and being expanded on:
https://popl20.sigplan.org/details/CoqPL-2020-papers/2/The-use-of-Coq-for-Common-Criteria-Evaluations

On Tue, Jan 28, 2020 at 8:59 PM Karl Palmskog <notifications@github.com>
wrote:

[2020-01-28 21:02] palmskog commented on #90
One more note on terminology. The community has for some reason embraced "mechanization"/"mechanised"/"mechanical" [proofs] as a common keyword. I think it's much better to empasize **machine-checked** [proofs] instead, since it's bound to cause less confusion for outsiders.

[2020-01-30 18:01] Zimmi48 commented on #16
@JasonGross Do you want to maintain this within coq-community? A convergence between various coqdoc-related tools, and in particular js-extensions (like coqdocjs and proviola) would be great but does not have to happen first. It could be a later step if someone is up for the task.

[2020-01-30 18:16] yforster commented on #16
Regarding this later step, I once managed to create html files with both coqdocjs and proviola for a project and tried to write down what I did: https://gist.github.com/yforster/e7d73135aea3ef5e39e1e7272e53e568

I probably won't have time to continue on this, but maybe it can help for somebody who wants to continue at some point.

[2020-02-03 15:34] palmskog opened #91 "Proposal to move project SMTCoq to coq-community"
**Project name:** SMTCoq

**Initial author(s):** Michael Armand, Valentin Blot, Amina Bousalem, Quentin Garchery, Benjamin Gregoire, Chantal Keller, Burak Ekici, Alain Mebsout

**Current URL:** https://github.com/smtcoq/smtcoq

**Kind:** OCaml plugin

**License:** CECILL-C

**Description:** Coq plugin that checks proof witnesses coming from external SAT and SMT solvers

**Status:** maintained

**N

[2020-02-03 15:46] palmskog commented on #89
The account has now gone live: https://twitter.com/CoqLang

Hence, I'm closing this issue.

[2020-02-03 15:46] #89 closed

[2020-02-03 16:38] ckeller commented on #91
Hi @palmskog

Thank you for the proposition. I am working on a release that I hope will happen in the next weeks, correcting some bugs. It is probably better to wait for it? (The last official release was quite a long time ago.)

I also have to say that SMTCoq currently compiles with Coq 8.9 . I started porting to Coq 8.10, @maximedenes offered to work on the OCaml part. Should SMTCoq be ported to

[2020-02-03 16:53] palmskog commented on #91
@ckeller indeed there is no need for the transfer to happen right away. We are fine with projects that only build with, say, Coq 8.9, and hopefully the community members can gradually help porting to more recent versions. I have invited you to join the coq-community organization, and once you accept you can handle the transfer of the project when things are in place.

For the inclusion in Coq's CI

[2020-02-03 17:00] ckeller commented on #91
Ok, thanks for the information. I will thus transfer to Coq community soon.

For CI, as I discussed with @maximedenes , we are likely to wait for Coq 8.12 since I am awaiting a feature to come (native arrays) to avoid the cumbersome fact that SMTCoq currently also maintains compatibility with native-coq.

[2020-02-03 17:03] maximedenes commented on #91
@ckeller I'm confident we can resynchronize everything for 8.12. I spent the week-end porting persistent arrays to Coq's `master`. It works, but it is missing iterators (that SMTCoq uses) and a bit of clean-up. It should be ready soon, though (I'd say a week of work is needed, roughly).

Once that is done, I'll be happy to port SMTCoq to Coq's master.

[2020-02-03 21:02] spitters commented on #56
@strub with ALEA now available in 8.11, would it be a good idea to move certicrypt to the community for posterity ?

[2020-02-03 21:58] palmskog commented on #81
This is now added to the templates and deployed in many projects (specified using variable `opam-file-version` in `meta.yml`), so closing.

[2020-02-03 21:58] #81 closed

[2020-02-04 08:28] strub commented on #56
Yes. I am going to update the repository to 8.11.

Le lun. 3 févr. 2020 à 22:02, Bas Spitters <notifications@github.com> a
écrit :

[2020-02-04 08:32] palmskog commented on #56
@strub great!

In case anyone was wondering, the 8.11-compatible ALEA repository currently lives here: https://github.com/anton-trunov/alea

We hope to move ALEA to coq-community and create OPAM packages and so on (for CertiCrypt to potentially depend on) once permission/licensing details are sorted out.

[2020-02-04 08:44] anton-trunov commented on #55
Hi @Matafou! Is there any feedback from your co-authors on transferring ALEA to coq-community? It would be nice to have ALEA published to support the upcoming transfer of Certicrypt as per https://github.com/coq-community/manifesto/issues/56

[2020-02-04 13:34] Matafou commented on #56
They all agreed. Please feel free to do it! And thank you!

[2020-02-05 06:42] palmskog opened #92 "Proposal to move reglang to coq-community"
**Project name:** Regular Language Representations in the Constructive Type Theory of Coq (reglang)

**Initial author(s):** Christian Doczkal, Gert Smolka, and Jan-Oliver Kaiser

**Current URL:** https://github.com/chdoc/coq-reglang

**Kind:** pure Coq library

**License:** CeCILL-B

**Description:** Definitions and properties of regular languages (including, e.g., regexps), using the MathComp lib

[2020-02-05 12:42] palmskog opened #93 "Usefulness and recommended use of Coq projects in coq-community"
Currently, it is not a requirement for a project hosted in coq-community to be *useful*, or at all suitable for wider use. For example, one of several sufficient conditions is that

It is recognized that some projects will be lower quality than others, and perhaps not be suited for general use, e.g.,

No such editorial board is in place yet.

@ejgallego recently raised concerns about the usefulnes

[2020-02-05 12:54] palmskog commented on #93
Personally, I wouldn't at all mind if some coq-community projects got a badge/marking like some research artifacts do:

- reusable / recommended for reuse
- usable
- experimental / not recommended for reuse

But I'm firmly against adding a _requirement_ for coq-community projects to be reusable/recommended.

[2020-02-05 13:19] ejgallego commented on #93
I'm not sure I follow here; the goal of CC is "A project for a collaborative, community-driven effort for the long-term maintenance and advertisement of Coq packages."

The aforementioned package is very hard to maintain without a full rewrite and should not be advertised; thus I don't see how it does fit that criteria.

[2020-02-05 13:34] palmskog commented on #93
@ejgallego I don't think maintainability or "fitness for advertising" for included projects can in any way be derived from the current stated goal of CC. The manifesto currently gives four in-themselves-sufficient criteria for inclusion:

1. the initial author has stopped maintaining the project and someone else is volunteering to do so;
2. the project has become a collective work (several communi

[2020-02-05 13:38] anton-trunov commented on #93
On top of everything said I can add that I don't mind having a special place (a dedicated GitHub organization or something like that) for paper artifacts or adding badges and/or disclaimers.

[2020-02-05 13:58] ejgallego commented on #93
@palmskog I just copied what the Coq Community page says.

[2020-02-05 14:01] ejgallego commented on #93
Anyways whatever are the semantics, we are doing users a disservice by having a repos with so many known problems here; they will see this project and try, only to lose a large amount of time.

[2020-02-05 14:01] palmskog commented on #93
@ejgallego but how do you go (logically) from CC being "a project for maintenance" to that Coq packages "hard to maintain" should be excluded?

[2020-02-05 14:05] palmskog commented on #93
I don't think we are anywhere near having significant problems with many people trying out coq-community packages and failing to use them. I'm sure we can look into this again when we have 50+ projects and many complaints, though.

[2020-02-05 14:06] ejgallego commented on #93
Even having a single person lose a few hours due to oversight on our part is not acceptable to me.

[2020-02-05 14:07] ejgallego commented on #93
Projects that have no hope of becoming usable should not be here; so far the only motivation for this project appears to be preservation of an artifact; this is IMO out of the scope for CC.

[2020-02-05 14:16] palmskog commented on #93
This is very much a hardliner stance to me, and I've already argued against it above. I can tell you that, independently of Anton's goals for the project, my collaborators and I are already using Bits for proof engineering research. I also doubt that most CC members would agree with such a restrictive policy, but I'm sure we can arrange to poll them at some point.

@Zimmi48 maybe you can weigh in

[2020-02-05 14:40] palmskog commented on #55
Transfer is now done: https://github.com/coq-community/alea

So, closing this issue.

[2020-02-05 14:40] #55 closed

[2020-02-05 14:48] Zimmi48 commented on #93
Karl's explanations about what coq-community is and what it isn't are spot on. A claim in Emilio's message is that being in coq-community implies a project is maintained. That isn't true. A project needs to get a volunteer maintainer to join, but it can stop being maintained because the maintainer steps down and no one takes their place. We won't eject such projects though, we'll properly mark the

[2020-02-05 14:51] anton-trunov commented on #93
I wouldn't oppose removing coq-bits from opam. I added it there just because it used to be on opam.

[2020-02-05 14:52] ejgallego commented on #93
I'd recommend in this case modifying the organization description.

[2020-02-05 15:14] palmskog commented on #93
I fully agree with this, and I've opened a corresponding issue: https://github.com/coq/opam-coq-archive/issues/1147

[2020-02-05 18:25] JasonGross commented on #16
I will not have much time to devote to maintaining this, but I'm willing to be a maintainer.  (Ideally a co-maintainer, but I'm also willing to be sole maintainer.)

[2020-02-05 19:28] palmskog commented on #16
@JasonGross great to hear about you assuming maintainership. If I might add a bit to this burden in the interest of the community: since there is a rich Mercurial commit history for Proviola in the BitBucket repo, could you try to import this to GitHub and add your changes on top? Note that BitBucket is killing off Mercurial support in just a few months, and will simply delete all Mercurial reposi

[2020-02-05 19:32] Zimmi48 commented on #93
As already said by Karl, the description does not suggest any fitness for use, and the (longer, but still short enough to read) text of the manifesto clarifies matters further.

The question of the package advertisement is indeed linked to the (non-existing) editorial board and giving a website to coq-community where we can more easily distinguish different kinds of packages. I intend to work soon

[2020-02-05 22:51] ejgallego commented on #93
The way I understood "effort for the long-term maintenance" was indeed incompatible with that particular library; anyways I personally wasn't looking for a policy discussion.

It is just that some time ago I spent a few weeks trying to rewrite that library + their dependent development and I was surprised to see it appear here; anyone interested in more details about it is welcome to contact me in

[2020-02-07 02:00] palmskog commented on #86
To extract some pieces I needed for other work, I updated the JMLCoq code to compile with Coq 8.9 and later: https://github.com/palmskog/jmlcoq

While I don't have plans to maintain the repo, it might be a good to host it in coq-community to find increase the chances of finding a maintainer.

[2020-02-07 18:33] anton-trunov opened #96 "Special badge(s) for projects available on opam, Nix, etc."
We might want special badge(s) for coq-community projects that are available for some package managers like opam, Nix, etc.

[2020-02-10 16:49] Zimmi48 commented on #96
Related to ocaml/opam#2900. For nixpkgs, you can use Repology. Example: https://repology.org/project/coq8.9-coq-ext-lib/versions. Note that unfortunately, the name of the Coq version is included in the name of the package and changes whenever the default Coq version of nixpkgs changes. So that would mean having to update the badge every time this happens.

[2020-02-10 20:54] palmskog opened #97 "Proposal to move Almost Full to coq-community"
**Project name:** Almost Full

**Initial author(s):** Dimitrios Vytiniotis, Thierry Coquand, and David Wahlstedt

**Current URL:** https://github.com/palmskog/almost-full (tested on Coq 8.11 - 8.12)

**Kind:** pure Coq library & formalization of a mathematical theorem

**License:** MIT License

**Description:** Coq development of almost-full relations, including the Ramsey Theorem, useful for prov

[2020-02-10 22:20] DmxLarchey commented on #97
Happy to find someone interested in _Almost Full relations_ à la Coquand

Well I do have a constructive library for almost full relations which includes Ramsey's theorem etc up to Kruskal tree theorem and it can be found in here

https://members.loria.fr/DLarchey/files/Kruskal/index.html

But even version `2.0` here is not up to date with recent versions of Coq. However if needed, I could trying t

[2020-02-11 11:59] palmskog commented on #97
@DmxLarchey thanks for flagging up those developments!

The main purpose of creating this issue was to show that we do have a pipeline for creating and extending existing Coq projects with interesting properties. As such, if someone takes of the Hibert basis theorem challenge in Coq from Buzzard, that person can now make an informed choice of starting point.

However, since BitBucket is closing do

[2020-02-11 12:38] DmxLarchey commented on #97
Well I did convert the BitBucket repo. from `hg` to `git` and it now lives on GitLab (INRIA). May be I could mirror it on GitHub.

Maybe I was a bit fast about the relation between Dickson's lemma and Hilbert's basis theorem though. The reference I was thinking about is _Decision procedure of some relevant logics: a constructive perspective_ by Jacques Riche (JANCL, 14(4), 2004).

[2020-02-11 14:39] DmxLarchey commented on #97
May be this one can also help

https://www.andrew.cmu.edu/user/avigad/Students/hertz.pdf

[2020-02-15 10:44] anton-trunov commented on #56
Hi @strub! @volodeyka and I could give you a hand with porting certicrypt to Coq 8.11 as part of @volodeyka's internship project. Please let us know if it works for you.

[2020-02-19 17:07] chdoc commented on #92
I support the move of `[coq-]reglang` to coq-community. What do I need to do in order to make this switch happen? My main concern is that I would like the link in the published journal paper to remain intact.

According to [this post](https://github.community/t5/How-to-use-Git-and-GitHub/How-long-does-github-forward-renamed-moved-repos/m-p/3329#M1119) redirects should follow both renamings and own

[2020-02-19 17:48] palmskog commented on #92
@chdoc I don't think it technically matters if you do the renaming before or after the transfer. It should work fine to do it in the order you said, i.e., first rename repo and then transfer the repo.

There is _no_ implicit or explicit change in copyright status just because you move the repo to the coq-community organization - everything is owned by the same people as before. Moreover, there is

[2020-02-20 11:01] palmskog commented on #92
Just a quick example of how forwarding works, in this case for the bits project:

- original repository was at https://github.com/artart78/coq-bits
- it was moved to https://github.com/coq-community/coq-bits
- then renamed to https://github.com/coq-community/bits

As can be checked easily, forwarding works for all previous URLs.

[2020-02-20 19:36] palmskog commented on #56
I did a quick experiment with 8.11 and CertiCoq, and resolved at least one upfront problem with `DecidableEqDepSet` and use of `Set` vs. `Type`. It's all one big [commit](https://github.com/palmskog/certicrypt/commit/5f80f042729ad8425085072bdae6212afba3ce04) that also admits some auxiliary lemmas along the way: https://github.com/palmskog/certicrypt/tree/depset-8.11

Anyone is to take it from ther

[2020-02-21 12:35] chdoc commented on #92
I prepared a `meta.yml` and generated a new `README.md` from that. I don't know how to set up the repository such that the default Travis CI template and the automatic deployment of the coqdoc documents work. See [#6](https://github.com/chdoc/coq-reglang/pull/6).

I guess the next step is to actually transfer the repository, before setting up the rest? Just out of curiosity: could I, in principle,

[2020-02-21 12:46] palmskog commented on #92
@chdoc technically, a transfer of the repository back to your own account has to be done by an owner of the coq-community organization (due to how GitHub organization permissions [work](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/permission-levels-for-an-organization)). Currently, the owners are, myself, @Zimmi48, and @anton-trunov, and the manifesto specifies

[2020-02-21 13:08] Zimmi48 commented on #92
@palmskog We usually make maintainers admin of the projects under their supervision. According to [this doc](https://help.github.com/en/github/administering-a-repository/transferring-a-repository#transferring-a-repository-owned-by-your-organization) it seems that this is enough permission to be able to transfer the repository:

[2020-02-21 13:09] Zimmi48 commented on #92
But yes, the policy of transferring back should be discussed at some point.

[2020-02-21 13:15] chdoc commented on #92
My point was indeed only half about what is technically possible. The other half was about what's "right" or "acceptable" according to the rules of the organization.

[2020-02-21 13:46] Zimmi48 commented on #92
Until we do get a clear policy, let's say that if you transfer your repository to coq-community the project stays under your full control until you voluntarily step down as a maintainer or become completely unresponsive for an extended period.

[2020-02-21 13:47] chdoc commented on #92
I just transferred the project, please add me as maintainer/administrator.

[2020-02-21 13:52] palmskog commented on #92
@chdoc you now have the admin role for the repo. The final step of the transfer in my mind would be to rename the repo to `reglang`, maybe you can do this? It would also verify that you have admin privileges.

[2020-02-21 14:03] chdoc commented on #92
Done! I guess the rest can be discussed in [#6](https://github.com/coq-community/reglang/pull/6)

[2020-02-21 14:03] #92 closed

[2020-02-28 17:59] chdoc opened #98 "Proposal to move project GraphTheory to coq-community"
**Project name:** Graph Theory

**Initial author(s):** Christian Doczkal (@chdoc) and Damien Pous (@dpous)

**Current URL:** https://perso.ens-lyon.fr/damien.pous/covece/graphs/

**Kind:** pure Coq library / formalization of mathematical theorems

**License:** CeCILL-B (tbd)

**Description:** A library of formalized graph theory results, including various standard results from the literature (e.g.

[2020-02-28 18:15] palmskog commented on #98
This is a project that is very welcome to coq-community.

Do you already have a GitHub repo? I don't remember if non-owners can create repos directly in the organization, but if not, I can create an empty one and make you and Damien admins @chdoc.

We do encourage including repo history when this is available (e.g., for use in future research), but the choice is up to the repo owners.

Just to be

[2020-02-28 18:42] chdoc commented on #98
Lets wait for Damien to comment, now that both accounts have been mentioned.

We have an internal git repository whose master-branch we would push here. The consensus was to do this with history (so that we can keep compatibility to the internal repository we may or may not continue to use occasionally).

Is `graph-theory` as repository name and `GraphTheory` as prefix acceptable? In OPAM coq-grap

[2020-02-28 18:53] palmskog commented on #98
Sounds good to me, and by our current conventions this would indeed imply a package name of `coq-graph-theory`.

Ah, right, good point. Then feel free to do this whenever ready, I will simply add the admin privileges when the repo shows up.

[2020-02-28 19:16] dpous commented on #98
Hi,
Please use  the damien-pous account, indeed.
Best,
Damien

Le ven. 28 févr. 2020 à 19:53, Karl Palmskog <notifications@github.com> a
écrit :

[2020-02-28 19:29] palmskog commented on #98
Thanks, I have invited the damien-pous account to join coq-community.

[2020-03-09 21:46] erikmd opened #99 "Proposal to move project coqoban to coq-community"
**Project name:** coqoban (Sokoban in Coq)

**Initial author(s):** Jasper Stein

**Current URL:** https://github.com/coq-contribs/coqoban

**Kind:** pure Coq library

**License:** LGPL 2.1 (according to the opam package, and I assume it is the same license as Coq, LGPL-2.1-only)

**Description:** A Coq implementation of Sokoban, the Japanese warehouse keepers' game.

**Status:** currently maintain

[2020-03-10 08:36] spitters commented on #99
@erikmd Here's some code in case you are interested in making a hi-res version.
We've used it to make hi-res plots of curves in the plane.
https://github.com/coq-community/corn/tree/master/dump

[2020-03-10 13:08] erikmd commented on #99
for the time being the plan is essentially to do a Coq 8.11 release, but thanks for your suggestion @spitters ! I'll have a look.

[2020-03-10 14:07] Zimmi48 commented on #99
@erikmd I've transferred the repository and made you an admin. The README would deserve an update (ideally generated from the standard template) but there's no rush and could happen after the 8.11 release.

[2020-03-10 15:58] erikmd commented on #99
OK thanks @Zimmi48, I'm going to update the README and CI

[2020-03-10 18:13] erikmd commented on #99
so I opened this PR: https://github.com/coq-community/coqoban/pull/2 ; should we close that issue #99 now?

[2020-03-10 18:21] #99 closed

[2020-03-11 20:47] erikmd commented on #48
Two comments:

1. as the recommended format for metadata files in https://github.com/coq-community/templates is YAML, if you decide to stick to a machine-readable specification, this choice should ideally make it possible to **validate `meta.yml files`** (like XML Schema Definitions can validate the contents of a XML file). Even if YAML is not a subset of JSON syntax and conversely, it seems there

[2020-03-12 13:23] #64 closed

[2020-03-14 22:54] ejgallego commented on #49
Note that https://github.com/ejgallego/coq-plugin-template includes reasonable support for using `dune-release`

[2020-03-18 09:31] Zimmi48 commented on #98
Out of curiosity, is the relationship to [graph-basics](https://github.com/coq-contribs/graph-basics) and [graphs](https://github.com/coq-contribs/graphs) known or documented somewhere? Can we deprecate these libraries in favor of your graph theory library?

Note that if you didn't do the comparison, I'm not asking you to do it. I'm only asking this because there are still 146 non-archived contrib

[2020-03-18 14:07] chdoc commented on #98
`graph-basics` is an almost 20-year old development by Duprat which contains a few basic definitions but, as far as I can tell, no interesting theorems. IIRC, this is the result of some student project and I am not aware of any uses of this contrib. In my own experience, if you don't do anything with your representation while developing it, then the representation will not be very usable.

`graphs

[2020-03-18 16:01] Zimmi48 commented on #98
Thanks for your answer! Maybe it would make sense to archive `graph-basics` and to rename `graphs` to some less confusing name then. WDYT @herbelin?

[2020-03-18 19:25] herbelin commented on #98
I know basically nothing about graphs...

Would there be a comment that I could add to `graph-basics` to characterize the representation of graphs it chooses among the different possible representations of graphs?

Regarding `graphs`, again, I'm missing hindsight. Would `graphs-bellman`, or `graphs-cycle-detection` be relevant alternative names?

Or would it make sense to integrate it to `GraphThe

[2020-03-18 21:06] Zimmi48 commented on #98
I'm not in favor of having common namespaces that are shared across distinct and independent projects.

[2020-03-18 21:31] chdoc commented on #98
I agree with @Zimmi48, that these projects are all distinct and independent. On the other hand, there is only one namespace for Coq libraries and one namespace of OPAM packages. In that regard, something as broad as `graphs` is generally a really poor choice of name, if you ask me. I'm fine with this package being called `GraphTheory`, because we are doing precisely that:: we have a few results fr

[2020-03-19 09:47] palmskog commented on #98
I would like to see both `graphs` and `graph-basics` renamed to something more specific, and basically leave everything else as is (no need to deprecate them, etc.). The global Coq namespace would also be a bit less polluted without `Graphs` or `GraphBasics` for legacy projects.

Moreover, I would personally like to see a project with a collection of graph algorithms in various representations tha

[2020-03-20 10:28] palmskog opened #100 "Proposal to move Buchberger to coq-community"
**Project name:** Buchberger

**Initial author(s):** Laurent Théry and Henrik Persson

**Current URL:** https://github.com/coq-contribs/buchberger

**Kind:** extractable program

**License:** LGPL-2.1-or-later

**Description:** A machine-checked implementation of Buchberger's algorithm

**Status:** Part of coq-contribs and maintained until Coq 8.10, but not currently compatible with 8.11

**New ma

[2020-03-20 10:40] Zimmi48 commented on #100
cc @thery

[2020-03-20 11:22] thery commented on #100
fine with me. Do I have to do something?

[2020-03-20 11:26] palmskog commented on #100
@thery @Zimmi48 unless you have reservations, I can take care of all the administrative details of the move, such as moving the repo and so on (and then closing the issue).

[2020-03-20 11:30] palmskog commented on #100
@thery one final question: the repo is ambiguous as to whether the code is licensed under "LGPL-2.1-only" or "LGPL-2.1-or-later". In the spirit of more flexible licensing terms, would you agree to interpreting it as "LGPL-2.1-or-later"?

[2020-03-20 11:37] thery commented on #100
fine with me

[2020-03-20 11:37] thery commented on #100
Perfect, thanks!

[2020-03-20 11:47] Zimmi48 commented on #100
@palmskog Can you really do the transfer yourself since you are only a member and not an owner of coq-contribs?

[2020-03-20 11:49] palmskog commented on #100
@Zimmi48 apparently I could: https://github.com/coq-community/buchberger

[2020-03-20 13:03] Zimmi48 commented on #100
OK, great to hear!

[2020-03-20 21:37] #100 closed

[2020-03-21 13:29] herbelin commented on #98
Personally, I like the idea of organizing the Coq libraries like a library of books is organized, e.g. following classifications such as ACM or MathSciNet. And this seems to be needed to some extent if one expects several libraries / packages to be simultaneously installable under the same `user-contrib` directory.

Is it a view that you also have in mind, @chdoc, @palmskog, @Zimmi48?

In any case

[2020-03-21 21:36] palmskog commented on #98
As the number of Coq projects grows, I also believe it will become a priority to have some general enforced scheme for naming directories in `user-contrib` (and top-level path names inside Coq) - at least for the packages in the Coq OPAM package index. To this end, I opened coq/opam-coq-archive#1208 for further discussion.

It's not at all obvious to me how one would incorporate other classificati

[2020-03-26 09:38] chdoc commented on #98
I created the [repository](https://github.com/coq-community/graph-theory) and pushed our master branch. I tried setting up CI (branch `ci-setup`), and everything seems to work except that I don't know how to add the finmap dependendy to the NIX job, so that job is still failing. @palmskog , can you have a look?

[2020-03-26 10:14] Zimmi48 commented on #98
@chdoc the finmap package is called `coqPackages.mathcomp-finmap`.

There is something weird in this part of the meta file:

[2020-03-26 10:15] Zimmi48 commented on #98
Sorry, truncated comment:

https://github.com/coq-community/graph-theory/blob/670748996c5526120408272f69588ed81af7739c/meta.yml#L65-L73

It seems that you would like to list two dependencies, but you are in fact listing a single one (one `-`). `name` and `version` are provided twice but the second one overrides the first. It still works because ssreflect is in fact a dependency of finmap.

[2020-03-26 10:22] Zimmi48 commented on #98
[code]

should rather be:

[code]

Although from what I can see on https://nixos.org/nixos/packages.html?channel=nixpkgs-unstable&query=coqPackages.mathcomp-finmap, the packaged version of finmap seems to be 1.2.1. @CohenCyril can provide further help with math-comp packages in nixpkgs.

Note that if you want, you can skip the Nix CI entirely (just remove https://github.com/coq-community/graph-the

[2020-03-26 10:28] chdoc commented on #98
I will give it one more try with what you suggested.

[2020-03-26 10:42] Zimmi48 commented on #98
(PS: don't forget to generate and commit the `default.nix` file)

[2020-03-26 10:47] chdoc commented on #98
Thanks, that came right at the moment when I was wondering why the change in nix dependency information wasn't causing any finmap related changes in the `.travis.yml`.

[2020-03-27 13:45] chdoc commented on #98
Thanks everyone!

[2020-03-27 13:45] #98 closed

[2020-04-21 23:43] erikmd opened #101 "Proposal to move project docker-coq-action to coq-community"
**Project name:** docker-coq-action

**Initial author(s):** @erikmd, @Zimmi48

**Current URL:** https://github.com/erikmd/docker-coq-action

**Kind:** GitHub Action compatible with Docker-Coq

**License:** MIT

**Description:**

This repo provides a GitHub container action, that can be used together with `coqorg/coq` images.

Typical use:

[code]

For more details, see the [README](https://github.

[2020-04-23 15:05] Zimmi48 commented on #101
I'm OK with this plan. I don't think we need to wait any longer to do the transfer @erikmd.

[2020-04-23 16:25] anton-trunov commented on #101
@erikmd @Zimmi48 I wholeheartedly support the move! Thanks so much!

[2020-04-23 16:38] erikmd commented on #101
Thanks @Zimmi48 @anton-trunov ! → done: https://github.com/coq-community/docker-coq-action
so you can follow-up with the plan, Théo

[2020-04-24 10:50] Zimmi48 commented on #101
Done (did I forget something?) The README could use some of the standard badges, but it is probably not adequate to use the template for this kind of project.

[2020-04-24 21:43] erikmd commented on #101
thanks @Zimmi48 ! that looks very OK.

Indeed, we could add some badges in the README… at least the standard badge of GitHub actions I'd say ;) (as there is a tiny CI in the repo, to lint the scripts using shellcheck)

but I guess we should first check what is the rendering of the documentation in the GitHub actions Markeplace once the first version (say, `v0.1.0`) is released (as it seems this re

[2020-04-24 21:43] #101 closed

[2020-05-27 00:30] liyishuai opened #102 "Proposal to move project coq-show to coq-community"
**Project name:** coq-show

**Initial author(s):**
  - Leonidas Lampropoulos (@lemonidas)
  - Maxime Dénès (@maximedenes)
  - Cătălin Hrițcu (@catalin-hritcu)
  - Benjamin C. Pierce (@bcpierce00)

**Current URL:** https://github.com/liyishuai/coq-show

**Kind:** pure Coq library

**License:** BSD 3-Clause "New" or "Revised" License

**Description:** A clone of the Show class in Haskell.

**Status:

[2020-05-27 12:30] Zimmi48 commented on #102
Discussion on this proposal is currently happening at https://github.com/QuickChick/QuickChick/issues/168#issuecomment-634354957. It seems that there is some risk of redundancy between coq-show and coq-ceres.

[2020-05-27 13:44] liyishuai commented on #102
After discussion with @Lysxia we agree that the current coq-show seems redundant given coq-ceres. Closing until notable changes are made.

[2020-05-27 13:44] #102 closed

[2020-05-31 16:13] Zimmi48 opened #104 "Change maintainer of project Stalmarck"
**Project name and URL:** https://github.com/coq-community/stalmarck

**Current maintainer:** @herbelin

**Status:** maintained

**New maintainer:** looking for a volunteer

@herbelin is currently maintaining this project (and also [qarith-stern-brocot](https://github.com/coq-community/qarith-stern-brocot) and [bertrand](https://github.com/coq-community/bertrand)), but because he's also the one ta

[2020-05-31 16:26] palmskog commented on #104
I have used Stalmarck for proof engineering research in the past, and it's currently part of our benchmark suite for the [mCoq](https://github.com/EngineeringSoftware/mcoq) tool. Stalmarck would likely benefit a lot from more build automation, in particular using Dune instead of coq_makefile. I believe issues like coq-community/stalmarck#8 are crucial to address.

Hence, I'd like to volunteer to m

[2020-05-31 16:28] Zimmi48 commented on #104
That's a correct assumption to make: by Coq's own ML API policy, any plugin is welcome to join Coq's CI.

[2020-05-31 16:29] palmskog commented on #104
I believe one has to demonstrate that it builds at least once with Coq `master` though, right? This is currently hard to tell if it does.

[2020-05-31 16:42] palmskog commented on #104
OK, how about the following: I'll take over as maintainer when the CI on Stalmarck's `master` branch passes. Then I'll just submit it to Coq's CI and take things from there.

Is this fine by you, @herbelin?

[2020-05-31 17:39] Zimmi48 commented on #104
That's correct. CI will check this upon inclusion.

It likely doesn't (according to its CI).

[2020-05-31 20:34] herbelin commented on #104
It should work now.

Yes, it is. Thanks for your involvement.

[2020-06-02 12:51] Zimmi48 commented on #104
We are now at the state where @palmskog said he could take over.

[2020-06-02 14:03] palmskog commented on #104
Maintainer change is official now as per coq-community/stalmarck#13 - so I'm closing this.

Something to think about: maybe we want to keep explicit maintainership history of projects somewhere, e.g., maintainers in `meta.yml` have a flag like `current`.

[2020-06-02 14:03] #104 closed

[2020-06-07 23:45] palmskog commented on #16
Just in time before the disappearance of all Bitbucket Mercurial-based repositories, the Proviola code and issues have been migrated to [a GitHub repository](https://github.com/coq-community/proviola) in coq-community, with @JasonGross assigned as the maintainer. Hence, I'm closing this issue.

[2020-06-07 23:45] #16 closed

[2020-06-12 10:42] palmskog commented on #86
Repository has now been moved to coq-community (https://github.com/coq-community/jmlcoq), so closing this.

[2020-06-12 10:42] #86 closed

[2020-06-20 09:35] Blaisorblade commented on #97
Unrelated, but thanks for resurrecting that code! We read the paper recently, and without that code it was pretty incomplete.

[2020-06-20 18:50] palmskog commented on #97
The Almost-Full Coq repo is now updated and works with Coq 8.11 - 8.12 (and `master`). It's also worth noting that there is a constructive Coq proof of Dickson's lemma (used in the last paper linked by Dominique) in the coq-community [Buchberger](https://github.com/coq-community/buchberger) project.

[2020-06-21 12:11] palmskog commented on #87
@ejgallego for coq-community project releases that happen post Coq 8.12.0 which have dune support, do you see any reason *against* having the corresponding opam packages in the Coq opam archive use dune for building? (Assuming native compilation is not an issue.)

Moreover, do you currently recommend any specific bounds on the dune/language version? For example, is the following reasonable:
[code]

[2020-06-21 16:11] ejgallego commented on #87
Hi @palmskog , I think that would be a very interesting experiment; the bounds you propose are fine IMHO, however we still expect the Coq build language to evolve before the "1.0" release, so certainly maintainers should expect to have some churn. A few things that will change:

- we will support inter-project composition, that could have some implications we still ignore
- `(include_subdirs ...)`

[2020-06-23 07:52] Zimmi48 opened #108 "Proposal to move Hydra battles in Coq to coq-community / to create a documented-examples project."
**Project name:** Hydra battles in Coq

**Initial author(s):** Pierre Castéran @Casteran

**Current URL:** https://framagit.org/casteran/hydra-battles-in-coq

**Kind:** documentation project composed of Coq scripts + LaTeX sources

**License:** CeCILL-B

**Description:** An exploration of some properties of Kirby and Paris' hydra battles, with the help of the Coq Proof assistant (draft).

**Status

[2020-06-23 10:04] palmskog commented on #97
Due to the interest in the library, I reached out to the author @dimitriv who graciously agreed to license it under the MIT license for the benefit of the community.

To have an authoritative location of the library going forward, I will move my repository to coq-community and be the initial maintainer.

[2020-06-23 10:57] palmskog commented on #97
The repository has now been moved to: https://github.com/coq-community/almost-full

Hence, I'm closing this issue.

[2020-06-23 10:57] #97 closed

[2020-07-02 20:13] palmskog opened #109 "Proposal to move High School Geometry to coq-community"
**Project name:** High School Geometry

**Initial author(s):** Frédérique Guilhot

**Current URL:** https://github.com/thery/HighSchoolGeometry and https://github.com/coq-contribs/high-school-geometry

**Kind:** pure Coq library / formalization of mathematical theorems

**License:** LGPL-2.1-or-later

**Description:** This library is dedicated to high-shool geometry teaching. The axiomatisation fo

[2020-07-02 21:24] thery commented on #109
@palmskog ok I did the transform.it seems ok Just tell me what is left to be done.

[2020-07-02 23:30] palmskog commented on #109
Thanks @thery. Since the repository transfer is done, I think we can close this issue. As for the next steps, we need to add some basic boilerplate and continuous integration for the repository, but I have opened coq-community/HighSchoolGeometry#1 for this purpose, so let's continue there.

[2020-07-02 23:30] #109 closed

[2020-07-13 08:57] Zimmi48 commented on #87
@palmskog Should we close this as a duplicate of coq-community/templates#38 / solved issue?

[2020-07-13 09:01] Zimmi48 commented on #70
After reading [this thread](https://discourse.nixos.org/t/fate-of-travis-ci-nix-language-support/7907) discussing the fate of Nix community support in Travis, and given that we now have pretty good GitHub Actions support (with very short and straightforward configuration files), I propose to decide that we *won't* add Coq community support to Travis and to close this issue.

[2020-07-13 09:52] palmskog commented on #87
Unfortunately I consider this issue far from solved. For the longer term, I would really like to use dune everywhere in coq-community, including in all new packages for the Coq opam archive.

However, if we use dune before 1.0, based on what Emilio says above, it seems we are setting ourselves up for future compatibility issues. coq_makefile will basically "always work", while a package using Dune

[2020-08-14 18:29] palmskog opened #111 "Listing and preserving formalized mathematical results in Coq"
This is a meta issue asking the general question:

A lot of mathematics has been formalized in Coq, but unless it ends up in a library such Stdlib or Mathematical Components, it generally becomes incompatible with the latest stable version of Coq quickly. This hinders incremental progress in formalizing a coherent body of useful mathematics, and may lead to wasted re-formalization effort and obscu

[2020-08-14 19:34] #70 closed

[2020-08-18 19:55] rgrinberg commented on #87
Is conditional compilation something that is often used in Coq projects? We could add conditional compilation in the style of OCaml for Coq in dune.

[2020-08-18 20:05] palmskog commented on #87
I think conditional compilation is currently underused because it's so hard to script for in build scripts - figuring out the current Coq version in a `Makefile` accurately is very hard. The most high-profile examples I can think of are CompCert and VST, whose releases were patched by Michael Soegtrop to work across several versions of Coq by manual patches, see some of this work in the [Coq Platf

[2020-08-19 10:18] palmskog opened #112 "Change maintainer of project Binary Rational Numbers"
**Project name and URL:** https://github.com/coq-community/qarith-stern-brocot

**Current maintainer:** @herbelin

**Status:** maintained

**New maintainer:** looking for a volunteer

As described by @Zimmi48 in #104, @herbelin is taking care of the coq-contribs, so a new maintainer is wanted for this project.

[2020-08-19 10:20] palmskog opened #113 "Change maintainer of project Bertrand"
**Project name and URL:** https://github.com/coq-community/bertrand

**Current maintainer:** @herbelin

**Status:** maintained

**New maintainer:** looking for a volunteer

As described by @Zimmi48 in #104, @herbelin is taking care of the coq-contribs, so a new maintainer is wanted for this project.

[2020-08-24 08:16] vbgl commented on #45
Is there any hope to see progress on this issue? IMHO it would be sad to loose this library…

[2020-08-24 10:16] Zimmi48 commented on #45
The only thing blocking the transfer is the lack of a license (https://github.com/coq-contribs/containers/issues/4). @StekiKun has not responded to the GitHub notifications about this so maybe @vsiles can help us transfer the request again.

[2020-08-24 17:53] vsiles commented on #45
Will ask again !

[2020-08-25 11:29] lthms opened #114 "Proposal to publish project coqffi to coq-community"
**Project name:** `coqffi`

**Initial author(s):** Thomas Letan (@lthms), with contributions from Li-yao Xia (@lysxia), Yann Régis-Gianas (@yurug), and Yannick Zakowski (@YaZko)

**Current URL:** None, it would be an initial publication

**Kind:** extractable program, Coq tooling

**License:** MIT

**Description:** `coqffi` automatically generates FFI binding to OCaml libraries for Coq. For instan

[2020-08-25 13:49] spitters commented on #114
I understand nothing is publically available yet, and that the name conflicts with this project by @maximedenes .
I don't know of the status of that project.
https://github.com/maximedenes/coqFFI

[2020-08-25 14:04] lthms commented on #114
I can provide a public remote if that is necessary, prior to the initial publication in `coq-community`. As far the name, I have to admit I assumed the project was no longer underway due to the age of the latest commits, and I was already use to `coqffi`. Don’t hesitate to let me know if this is an important issue!

[2020-08-25 14:11] spitters commented on #114
I'm generally supportive, but the description is a bit brief for me to understand what coqffi does.
Others may know more. In any case, it seems interesting.

[2020-08-25 14:22] lthms commented on #114
You are right, I should have taken a bit more time to write the issue. I have edited it to add the beginning of the README, and will probably set-up a temporary public repo so interested folks may have a look.

[2020-08-25 14:35] spitters commented on #114
Cool!

There seem to be some overlap in goals with http://coq.io/.

[2020-08-25 16:06] maximedenes commented on #114
That project is indeed not very active, feel free to use the same name.

[2020-08-26 14:08] lthms commented on #114
@maximedenes thanks for the feedback!

@spitters `coq-io` could be made compatible with `coqffi` quite easily (i.e., uses the file generated by `coqffi`); the tool has been conceived to that end, and provides the necessary abstractions.

[2020-08-26 14:15] spitters commented on #114
@lthms sounds good. @clarus, the author of coq-io might be interested.

[2020-08-27 12:01] clarus commented on #114
@spitters Thanks for the notification! I did not know about the project `coqffi`, looking forward for the publication!

[2020-08-30 11:34] palmskog commented on #111
In lieu of a better location, I'm using the following wiki page to list math-related Coq development that are candidates for preservation: https://github.com/coq-community/manifesto/wiki/List-of-disused-formalized-mathematics-in-Coq

[2020-08-31 12:27] chdoc opened #115 "Proposal to move project comp-dec-modal to coq-community"
**Project name:** Completeness and Decidability of Modal-Logic Calculi

**Initial author(s):** Christian Doczkal (me)

**Current URL:** https://github.com/chdoc/comp-dec-modal, https://github.com/chdoc/comp-dec-pdl

**Kind:** pure Coq library / formalization of mathematical theorems

**License:** CeCILL-B

**Description:** Constructive machine-checked proofs of soundness and completeness of calcul

[2020-08-31 12:30] chdoc commented on #115
Would `comp-dec-modal` be okay as a repo-name / identifier?

[2020-08-31 12:35] palmskog commented on #115
@chdoc `comp-dec-modal` sounds good to me. You may want to think carefully about which repository out of the two to transfer to coq-community (probably: the one whose URL is used most publication).

I can help this project out in the short term with some basic metadata/automation adjustments. To advertise for a co-maintainer, the best way may be to open a `help-wanted` issue in the repo.

[2020-08-31 13:04] chdoc commented on #115
Okay.

Good point. However, the "main" repository was only created well after my thesis, so only the URL of the PDL repository has been used in a single publication. My inclination would be to "archive" both original repositories and add a link to the (shared) coq-community project.

[2020-08-31 17:03] jmadiot opened #116 "Proposal to move project coq100 to coq-community"
**Project name:** coq-100-theorems

**Initial author(s):** Jean-Marie Madiot

**Current URL:** https://madiot.fr/coq100/  repository: https://github.com/jmadiot/coq100

**Kind:** web page + formalizations of a few mathematical theorems

**License:** MIT

**Description:** This is an appendix to Freek Wiedijk's web page on the "top 100" mathematical theorems, to keep track of the statements of the t

[2020-08-31 18:27] palmskog commented on #116
@jmadiot indeed you can continue to be the maintainer. Joining coq-community is not about transfer of control, but about extending possibilities for collaboration.

I have invited you to become a member of the coq-community organization. After you accept the invitation, you should be able to transfer the repo to the organization by using the "Settings" repo tab on GitHub.

[2020-08-31 18:41] palmskog commented on #114
@lthms please consider the license for this project carefully. With GPLv3, the applicability and audience of the library/tool will be limited due to the reciprocal nature of the license. If I understand the intended usage correctly, anyone who relies on CoqFFI for extraction will be unable to distribute their extracted code under anything but GPLv3. And anyone who uses CoqFFI Coq code in a project

[2020-08-31 19:37] palmskog commented on #116
The repo is now available here: https://github.com/coq-community/coq100/
... and @jmadiot is admin of the repo. This means I think we can continue the discussion about the project in repo issues and PRs, so closing this.

[2020-08-31 19:37] #116 closed

[2020-08-31 21:15] lthms commented on #114
I don,t think what you are saying is true. AFAICT, the license of `coqffi applies to `coqffi` only, not the code generated by `coqffi`, so I don’t think there is a problem here.

[2020-08-31 22:10] palmskog commented on #114
@lthms GCC has a [special exception for generated code](https://www.gnu.org/licenses/gcc-exception-3.1.html) to not fall under GPL when it gets linked with GCC's runtime libraries. As far as I can tell, if you don't have similar exception for linking with `coqffi` libraries in extracted code, the whole thing (extracted code + `coqffi` OCaml side) will automatically have to licensed under GPL.

[2020-08-31 22:20] palmskog commented on #114
See also the [GCC special exception FAQ](https://www.gnu.org/licenses/gcc-exception-3.1-faq.en.html) which states:

[2020-09-01 07:34] lthms commented on #114
I think about this this night, and:

- `coqffi` is a standalone OCaml tool which happens to produce a text output that is (most of the time I hope :D) a valid Coq program. I really don’t think the GPL applies to this text output. The exception of GCC you link refers to a code licensed under GPL injected into programs generated by GCC (a “runtime”) as far as I understand it.
- When we chose the lic

[2020-09-01 09:38] spitters commented on #114
@MSoegtropIMC may be interested in this licensing discussion.

[2020-09-01 12:36] palmskog commented on #114
@lthms just because a GPL program is generating code, this doesn't necessarily mean the generated code is exempt from the GPL. For example, the GNU Bison parser generator copies large pieces of GPL code into its output, and thus [has a special license exception for generated code](https://www.gnu.org/software/bison/manual/bison.html#Conditions). Before Bison
version 1.24, any use of Bison in a sof

[2020-09-07 09:43] chdoc commented on #115
@palmskog I cleaned up my old development. My idea would be to create a new repository in `coq-community` and push [this branch](https://github.com/chdoc/comp-dec-modal/tree/build-infra) and this branch only. Afterwards, I would add archival notes to the other repositories.

[2020-09-07 11:00] palmskog commented on #115
@chdoc that sounds good to me, it seems to cover all bases so that no history is lost or inaccessible. You should already privileges to create a new repository, so please go ahead when ready.

[2020-09-07 15:57] chdoc commented on #115
I pushed the aforementioned branch. There are still some things to do (like an opam package or a `gh-pages` branch for the doc), but this I will do at a later point. Anyway, possible issues can be handled in the repository issue tracker.

[2020-09-07 15:57] #115 closed

[2020-09-08 15:43] palmskog opened #117 "Proposal to move project Gaia to coq-community"
**Project name:** Gaia (Geometry, Algebra, Informatics and Applications)

**Initial author(s):** José Grimm, with help from Alban Quadrat and using a set theory axiomatization originally by Carlos Simpson

**Current URL:** https://github.com/palmskog/gaia http://www-sop.inria.fr/marelle/gaia/

**Kind:** pure Coq library and formalization of a mathematical theorems

**License:** MIT

**Status:** un

[2020-09-09 08:20] palmskog commented on #117
I've transferred the repository and adjusted metadata: https://github.com/coq-community/gaia

At this point, we can continue the discussion in issues in the repository and elsewhere.

[2020-09-09 08:20] #117 closed

[2020-09-11 17:07] anton-trunov opened #118 "Automated deployment of coqdoc HTML documentation for each new release"
Looks like the [instructions](https://github.com/coq-community/manifesto/wiki/Generating-and-deploying-coqdoc-HTML-documentation) in the wiki can be used in conjunction with Github Actions to do this, provided the build system has the `coqdoc` goal.

[2020-09-11 17:40] palmskog commented on #118
@anton-trunov indeed the goal is to fully automate this, but it's a bit more intricate than simply following those instructions, see the discussion at https://github.com/coq/bot/issues/85.

[2020-09-11 18:39] anton-trunov commented on #118
@palmskog Thanks for the pointer!

[2020-09-16 13:05] lthms commented on #114
Since I really wish `coqffi` will eventually be accepted by the community, and in order to let things remain as simple as possible, we will publish `coqffi` under the MIT license. Thanks for pointing this potential issue really quickly!

Is there any additional things we want to discuss? Do I need to make a first remote publicly available prior to the creation (or refusal of creation) of a `coq-co

[2020-09-16 14:45] palmskog commented on #114
@lthms our community is small and we are generally trusting, so it would be fine with me to do either of:
1. creating a new repo in the organization and pushing directly to it
2. creating a repo in your own GitHub account that is then transferred to coq-community

However, it may save some time if you let me take a look at your repo before transferring it, so that adding our usual metadata and aut

[2020-09-16 15:16] lthms commented on #114
I can definitely set-up a repo, configure the CI, then give you enough time (and maybe push rights?) to it prior to transferring it!

[2020-09-16 15:20] palmskog commented on #114
Then please go ahead and set up the repo in your account, but no need to add CI or give me push rights.

[2020-09-30 15:43] spitters commented on #60
@vrahli  your development is taking a long time. By moving to the community, more people can help fixing that.
https://coq-bench.github.io/clean/Linux-x86_64-4.03.0-2.0.5/released/8.6/intuitionistic-nuprl/8.6.0.html

[2020-09-30 16:17] vrahli commented on #60
Hi, so even though this version is archived it is still compiled?

On Wed, Sep 30, 2020 at 4:43 PM Bas Spitters <notifications@github.com>
wrote:

--
https://vrahli.github.io/

[2020-09-30 16:40] palmskog commented on #60
@vrahli this ancient version of the project is unfortunately the only one that Coq opam package index users will see. Our aims here here are to do frequent releases (tags) for projects to match new Coq releases and consolidate all previous tarballs floating around into a single location.

[2020-10-08 12:27] lthms commented on #114
It took me some time, but I am now ready to transfer ownership of https://github.com/lthms/coqffi to the `coq-community` organization!

[2020-10-08 13:30] palmskog commented on #114
@lthms I invited you to join the coq-community organization, so you can transfer the repo. Either check your email or go to https://github.com/coq-community

[2020-10-08 13:32] lthms commented on #114
Neat! I have transferred the repo accordingly.

[2020-10-08 16:53] palmskog commented on #114
Since the repo is now transferred (https://github.com/coq-community/coqffi), I'm closing this issue. Let's continue any discussion as repo issues.

[2020-10-08 16:53] #114 closed

[2020-10-12 10:31] jmadiot opened #119 "Proposal to move project Coqtail to coq-community"
**Project name:** Coqtail

**Initial author(s):** Guillaume Allais, Sylvain Dailler, Hugo Férée, Jean-Marie Madiot, Pierre-Marie Pédrot, Amaury Pouly

**Current URL:** https://coqtail.github.io/

**Kind:** formalization of mathematical theorems

**License:** LGPL 3.0

**Description:** Coqtail is a library of mathematical theorems and tools proved inside the Coq proof assistant. Results range mostl

[2020-10-12 10:35] jmadiot commented on #119
Note that https://github.com/coqtail/coqtail/ is the original repository and contains more than Coq files, so I moved the files of the "src" subdirectory to the repository https://github.com/jmadiot/coqtail (keeping the git history), which is the one I am proposing to move to coq-community. I also cleaned up a little. As recommended we will discourage pushing new commits to (the src part of) the o

[2020-10-12 10:52] spitters commented on #119
@jmadiot
This library contains some nice results.
What is the goal with this library? Do you want it to be a historical archive, or would it make sense to try to integrate with the coq stdlib, or math-comp analysis?

[2020-10-12 12:35] palmskog commented on #119
@jmadiot this all sounds great, but some minor questions:
1. Normally, we would want there to be a canonical location for all releases (e.g., Git tags) of project. Should this be the "new" repo or the one at: https://github.com/coqtail/coqtail
2. Coqtail is not currently compatible with Coq 8.12 - do you have an intuition for how difficult it would be to fix this?

[2020-10-12 12:45] liyishuai commented on #119
Reminds me of another nice project named Coqtail: https://github.com/whonore/Coqtail.
Maybe worth adding a line in README to distinguish, after transferring the repository.

[2020-10-12 12:46] palmskog commented on #119
This is a good general question for coq-community maintainers to ask themselves, but to be extra clear, it's not a requirement for projects here to have a specific high-level goal (other than the more operational ones of keeping up-to-date with Coq releases, and facilitating reuse by the community).

[2020-10-12 13:30] jmadiot commented on #119
@spitters Mainly archive for now, I guess? But if someone thinks it is useful to integrate some of the results in another library or stdlib, that can definitely be done --I think the other authors would agree-- and I'm happy to help/do it.

@palmskog It should be https://github.com/coqtail/coqtail. The [new one](https://github.com/jmadiot/coqtail) was only to clean up what was not supposed to go i

[2020-10-12 20:23] palmskog commented on #119
@jmadiot since you are already a member of the coq-community organization, feel free to transfer the repo when you think it's ready. We can open repo issues about to-do items, such as 8.12 support, when the transfer is done.

[2020-10-13 08:07] Zimmi48 commented on #119
What is even more strange in this accidental homonymy, is that both Coqtail projects (the library and the Vim plugin) are the successors of projects named Coquille!

It worries me that the Vim plugin might be more well-known and that people might be mistaken about which of the two projects has been moved to coq-community (and we can even imagine the other one being moved there as well at some unde

[2020-10-13 08:25] Zimmi48 commented on #108
Instead of having one repository for Hydra battles and attempting to encourage the creation of other similar repositories of documentation by example, @Casteran suggests (and I support) creating a single monorepo which would gather all such documentation-by-example efforts. Hydra battles would be the first project to join this monorepo but it would later be joined by another similar project of @Ca

[2020-10-13 11:02] anton-trunov commented on #108
A great initiative!

Tutorials, perhaps?

[2020-10-13 12:26] Casteran commented on #108
Proofs-and-comments ?

Pierre

[2020-10-13 15:48] palmskog commented on #108
In the usual academic vernacular, I thought well-described examples were called "pearls"? Such as "functional pearls", "proof pearls", "formal pearls".

[2020-10-13 15:50] anton-trunov commented on #108
Wouldn't this reuse create some confusion between community-driven "pearls" and the peer-reviewed ones?

[2020-10-14 06:48] Casteran commented on #108
Hi,

  What about « documented contributions »  (or «  literate contributions », or «  commented contributions» ) ?

Best regards,

Pierre

[2020-10-14 07:05] anton-trunov commented on #108
I like the "Hydra battles" name of the seed project -- it's very catchy.
If we follow suit, maybe something like "Coq tales"? :)
This alludes to having a narrative, not just dry code and is (imho) less formal name.

[2020-10-14 07:28] Casteran commented on #108
Indeed, hydra battles are a metaphor of work with a proof assistant.
Obviously hydra’s heads represent the dramatically increasing number of sub-goals the user (Hercules) has to solve (chop off).

When Yves and I wrote « Coq’Art", we found it important to choose a catchy name for a not-so-easy-to-read book.

[2020-10-14 08:04] Zimmi48 commented on #108
I agree with the advantage of a catchy title. "Coq tales" is nice but the pun reminds the already two existing projects called "Coqtail" (see #119).

[2020-10-14 09:03] Casteran commented on #108
When we went to Japan for organizing a Summer School, we met young enthusiastic people of the Tsukuba Coq User Group.
Among other activities, they published a series of booklets, each one dedicated to some topic, e.g. automata theory, and many of them illustrated in  manga style.
http://tcug.jp/books/2016-12/ <http://tcug.jp/books/2016-12/>
http://tcug.jp/books/2014-12/ <http://tcug.jp/books/2014-

[2020-10-14 12:31] palmskog commented on #108
Why not just "Hydra Battles" then (without any mention of Coq)? Let that be the meta-project name.

I also want to remind about a more serious topic: please consider another license than CECILL-B, since it is claimed by the FSF to be GPL-incompatible. CECILL-B would seemingly prevent us from distributing Hydra Battles in Coq in binary form together with a GPL-based project.

[2020-10-14 14:06] Casteran commented on #108
Yes, I thought also about « Hydras and company » . Any variation on the same theme would fit.

Is the following license OK ? The contribution by Evelyne Contejean  (files src/rpo/*.v)  is already prefixed by

(* This program is free software; you can redistribute it and/or      *)
(* modify it under the terms of the GNU Lesser General Public License *)
(* as published by the Free Software Foundati

[2020-10-14 14:21] Zimmi48 commented on #108
LGPL 2.1 is OK but far from the best license. See "What license to choose for a coq-community project?" in https://github.com/coq-community/manifesto#faq. If you can ask Evelyne if she would agree to relicense her work, then the most appropriate license would be the very permissive MIT license.

[2020-10-14 15:59] Casteran commented on #108
The coq-community coq-art directory is also still licensed with Cecii-B. If Yves agrees, we should change it for MIT License ?

[2020-10-14 16:02] palmskog commented on #108
@Casteran yes, changing to the MIT license would be helpful, and would also ensure we would have fewer headaches when distributing the Coq'Art code in various collections.

[2020-10-15 09:02] Casteran commented on #108
Yves is OK. So I pushed a file LICENSE into coq-art/
Please check if it’s OK

Pierre

[2020-10-17 09:40] herbelin commented on #25
@cathdubois and I worked on an upgrade of relation-extraction based on @picnic's [version](github.com/picnic/RelationExtraction). The current status is that it compiles for 8.10.

As far as I understand the projects of @cathdubois, there is no need to port the version currently at http://github.com/coq-contribs/relation-extraction.

[2020-10-17 12:46] herbelin commented on #25
I now ported my [fork](http://github.com/herbelin/RelationExtraction) of @picnic's [version](https://github.com/picnic/RelationExtraction) to v8.12.

[2020-10-19 13:25] anton-trunov opened #120 "Proposal to move project regexp-Brzozowski to coq-community"
**Project name:** A Decision Procedure for Regular Expression Equivalence in Type Theory (regexp-Brzozowski)

**Initial author(s):** Thierry Coquand and Vincent Siles (@vsiles)

**Current URL:** https://github.com/vsiles/regexp-Brzozowski

**Kind:** pure Coq library

**License:** MIT (GPL v3 at the time of publication)

**Description:**  A complete formalization of Brzozowski decision procedure ba

[2020-10-19 13:34] palmskog commented on #120
I think we need @chdoc also to comment if/how this is best maintained, since some parts of [RegLang](https://github.com/coq-community/reglang) are already using definitions from regexp-Brzozowski. We want to avoid a scenario where the same code is double-maintained.

[2020-10-19 14:15] anton-trunov commented on #120
Definitely! Any feedback and suggestions are very welcome.

[2020-10-19 14:57] chdoc commented on #120
IMHO, the overlap between RegLang and this development is so minor (less than 30 lines), that it does not merit any special treatment, in particular not the introduction of a dependency of RegLang on this develoment. This is [the relevant comment](https://github.com/coq-community/reglang/blob/23d439c4fa0e48b2cf4ff077644b705db96c485d/theories/languages.v#L20-L26)

Thierry Coquand, Vincent Siles, A

[2020-10-19 15:04] anton-trunov commented on #120
My primary interest in reviving the project stems from the fact it is a paper artifact, it's not because I want to use it as a library. It's a pretty big formalization (around 6 kLoC, iirc) and it uses SSReflect, which I'm fond of. So it would be nice to have it around if someone in the future wants to read the paper and play with the  source code. We can certainly add a note mentioning the practi

[2020-10-19 15:11] chdoc commented on #120
I agree with your motives. I mainly wanted to ensure that we're all on the same page and that there are no unreasonable expectations. On the other hand, if someone goes through the trouble of reviving this development, then it might be interesting to actually do a performance comparison between the aforementioned three tactics for deciding (in)equalities of regular languages.

[2020-10-19 15:14] anton-trunov commented on #120
Indeed, sounds like an interesting project! We should turn your comment into an issue.

[2020-10-20 07:11] Zimmi48 commented on #108
FTR, while waiting for Evelyne's answer, @Casteran has relicensed the project to LGPL-2.1 which is not perfect but better than the (GPL-incompatible) CeCILL-B.

I suggest that we move forward and proceed to the transfer under the current license and the current name (Hydra Battles). If we hear back from Evelyne, we can still change the license later on, and if we wish, we can also rename the proje

[2020-10-20 07:18] palmskog commented on #119
Since the repository has been transferred and is now located at https://github.com/coq-community/coqtail-math, let's close this issue and continue any discussion as issues in that repository.

[2020-10-20 07:18] #119 closed

[2020-10-20 08:19] aerabi opened #121 "Proposal to move project generic-environments to coq-community"
**Project name:** Generic Environments

**Initial author(s):** Emmanuel Polonowski

**Current URL:** https://github.com/coq-contribs/generic-environments

**Kind:** pure Coq library

**License:** LGPL

**Description:** Generic_Environments is a library which provides an abstract data type of environments, as a functor parameterized by a module defining variables, and a function which builds enviro

[2020-10-20 08:23] Casteran commented on #108
I agree !
  I made a last push this morning, so there is no problem for the move.

  When it’s done, please tell me if the compilation (.v + .tex) works fine. I’m not sure my Makefile fits with the most accepted canons, and any improvement is welcome !
  Then I will put links to the new address in the README.md at gitlab’s site.

  By the way, two questions:
    -  is it possible to maintain a lin

[2020-10-20 10:39] Zimmi48 commented on #108
One possible way would be to auto-generate the PDF from the last version of the `master` branch. I'll look into how this can be done.

Yes, PRs are the best way I think (although they can also use the issue tracker if they wish). I'll create a draft of a contribution guide.

[2020-10-20 10:49] Zimmi48 commented on #121
Thanks for your interest in maintaining this project! I've proceeded to the transfer and invited you to join the organization.

There is an ambiguity on the exact license (is it LGPL-2.1-only, LGPL-2.1-or-later, LGPL-3.0...?). I'll send an e-mail to the author asking to clarify this and possibly to agree to relicense under one of our recommended licenses (cf. the corresponding FAQ item in the mani

[2020-10-20 11:22] Zimmi48 commented on #121
The description is a bit long:

It should be shortened so that we can add `[maintainer=@aerabi]` to it.

[2020-10-20 11:25] anton-trunov commented on #121
Since the transfer has been done, should we perhaps close this issue and move Théo's comment as a new issue to the generic-environments repo?

[2020-10-20 11:30] Zimmi48 commented on #121
I was planning to keep the issue open until we have heard back from the original author about the license (if you don't mind).

[2020-10-20 11:31] anton-trunov commented on #121
Ah, sure, I didn't realize that, sorry for the noise.

[2020-10-20 11:36] aerabi commented on #121
I have shortened the description. Will add the full description (which is the same as the article's abstract) as well as a link to the article to the README file later.

[2020-10-20 11:59] Zimmi48 commented on #108
The repository import is now done at https://github.com/coq-community/hydra-battles

Regarding the `Makefile`, the one in `src/` is pretty standard. The one at the root is partly out of date. The targets `clean` and `vo` probably do not work anymore since there is no longer any `CoqMakefile`.

[2020-10-20 12:14] Zimmi48 commented on #121
The author has approved a change of license to the recommended MIT license.

[2020-10-20 12:25] vsiles commented on #120
Hi ! Thanks for taking care of that. I don't have a lot of time to manage this project, so I'm grateful 👍
Please ping me if need to do anything at some point in the transfer process.

[2020-10-20 12:41] Casteran commented on #108
@Zimmi48 Thanks a lot !

CoqMakefile and _CoqProject are created by "make project", hence "make all" in the root Makefile.
_CoqProject is quite often refreshed (addition or move of .v files). So, I used to call "make project" in many occasions.

But I agree there is certainly a better and more standard way to automatize the creation and update of these files, more specifically _Coqproject.  Of cou

[2020-10-20 13:31] Casteran commented on #108
@Zimmi48   I tried a simplification in the clean-makefile branch. Hope it's OK.

[2020-10-20 14:25] thery commented on #113
I will take it ;-)

[2020-10-20 15:11] palmskog commented on #113
Thanks @thery, this is appreciated. I will make you admin of the bertrand repo and update the metadata.

[2020-10-20 15:24] thery commented on #113
how it works for the opam package?

[2020-10-20 15:27] palmskog commented on #113
The metadata and settings are updated now, so I think we can close this issue, but feel free to ping me in another issue (or via Zulip or email) if something is unclear w.r.t. packaging/automation.

[2020-10-20 15:27] #113 closed

[2020-10-20 16:45] anton-trunov commented on #120
@vsiles Thank *you* very much! I've invited you to the coq-community organization, so after you accept the invitation you should be able to transfer the regexp-Brzozowski repository from your account to coq-community. (Just in case: if you click the settings icon in your repo and scroll all the way down you should be able to see the "Transfer" button. Hope this helps.).

[2020-10-21 08:52] anton-trunov commented on #120
I'm closing this issue since the transfer is done. Many thanks to @vsiles for his awesome contribution!

[2020-10-21 08:52] #120 closed

[2020-10-21 10:58] Zimmi48 commented on #120
@anton-trunov The description of the repo should probably be edited now that it has been transfered.

[2020-10-21 11:26] anton-trunov commented on #120
@Zimmi48 Good catch, thanks. Fixed.

[2020-10-29 11:54] palmskog commented on #121
Since this repo is now part of coq-community (https://github.com/coq-community/generic-environments), I'm closing this issue. Please continue any related discussion as issues in the repo.

[2020-10-29 11:54] #121 closed

[2020-11-13 00:55] palmskog commented on #108
Since this repo is now part of coq-community (https://github.com/coq-community/hydra-battles), I'm closing this issue. Please continue any related discussion as issues in the repo.

[2020-11-13 00:55] #108 closed

[2020-11-13 02:04] palmskog opened #122 "Proposal to move Autosubst version 1 to coq-community"
**Project name:** Autosubst (version 1)

**Initial author(s):**  Steven Schäfer and Tobias Tebbi

**Current URL:** https://github.com/uds-psl/autosubst (the most recent version is found in the branch: https://github.com/uds-psl/autosubst/tree/coq86-devel)

**Kind:** pure Coq library

**License:** MIT

**Description:** A Coq library for parallel de Bruijn substitutions, useful when developing forma

[2020-11-13 08:25] yforster commented on #122
I can confirm that I'm able to do the transfer.

[2020-11-16 13:47] palmskog commented on #122
@yforster I sent you an invitation to join the organization. After you accept the invitation, feel free to transfer the repo whenever convenient.

[2020-11-26 11:44] yforster commented on #122
Here you go: https://github.com/coq-community/autosubst

[2020-11-26 12:07] RalfJung commented on #122
Thanks Yannick. :)

@palmskog what's next?

[2020-11-26 12:45] palmskog commented on #122
@RalfJung @co-dan I have invited you to join the coq-community organization. Please accept the invitations and I can assign you to be admins for the repo.

[2020-11-26 15:17] RalfJung commented on #122
Done.

[2020-11-27 07:44] palmskog commented on #122
OK, since the repo has been transferred and maintainers now have admin access, let's close this issue and continue the discussion as repo issues.

[2020-11-27 07:44] #122 closed

[2020-12-15 08:43] palmskog opened #123 "Change maintainer of ATBR"
**Project name and URL:** https://github.com/coq-community/atbr

**Current maintainer:** @tchajed

**Status:** unmaintained

**New maintainer:** looking for a volunteer

@tchajed has indicated he wants to step down as maintainer of ATBR due to other commitments. Until a new maintainer is found, other coq-community members can collaborate to do basic project maintenance. The project is likely to wo

[2021-01-01 07:50] Casteran commented on #111
I would like to include goedel (and its helper pocklington) contrib in the list.
The current version available in coq-contribs is for Coq8.10.
The first incompatibilities I noticed were : use of sigS (can be replaced with sigT), and name changes for functions, predicates and lemmas statements on Z.
I think that Gödel's incompleteness theorems are of a great pedagogical interest. Also, I would like

[2021-01-01 13:04] palmskog commented on #111
@Casteran I didn't list any coq-contribs projects since they are not in any risk of disappearing (all code is on GitHub and key people have administrative access to the repositories). However, if you think the Goedel project is of pedagogical interest, I think we should create a coq-community GitHub issue about this and advertise for a new initial maintainer that can port it to modern Coq.

[2021-01-01 13:29] palmskog opened #124 "Proposal to move projects Goedel and Pocklington to coq-community"
**Project names:** Goedel and Pocklington

**Initial author(s):** Russell O'Connor (Goedel), Olga Caprotti and Martijn Oostdijk (Pocklington)

**Current URL:** https://github.com/coq-contribs/goedel https://github.com/coq-contribs/pocklington

**Kind:** pure Coq libraries

**License:** [CC-0/public domain](http://r6.ca/Goedel/goedel1.html) (Goedel) LGPL-2.1-or-later (Pocklington)

**Description:**

[2021-01-01 13:54] Casteran commented on #124
I can try to start  the adaptation to Coq8.12.
But, since I’m not very used to modern compilation, is it possible to create a framework with a correct makefile and dune stuff.
(May be one project for Pocklington and Goedel)
I could work on a specific branch until it works.

[2021-01-01 14:08] palmskog commented on #124
@Casteran if you create branches working with 8.12 of Goedel and Pocklington and link to them here, I can set up our usual boilerplate with Makefile/Dune/continuous integration/etc. for each repository.

[2021-01-01 15:18] palmskog commented on #124
Thanks to Hugo's earlier maintenance work, it was actually not all that difficult to get the `v8.9` branches of Pocklington and Goedel working on 8.12. I have some small patches I can apply.

@Casteran can you confirm you can be the maintainer of these projects in coq-community? (Maintainers can step down anytime.) If so, I can transfer the repositories to the coq-community organization and apply

[2021-01-01 15:25] Casteran commented on #124
Ok, I’ll try !

I think there is a lot of things to do (bullets, comments) for making the code more readable.

Will the code be available through opam ?

[2021-01-01 15:35] palmskog commented on #124
We can set up opam packages and make a tag/release for 8.12 for sure. But it will take a bit of time - my first priority would be to set up continuous integration so we know that things are working properly.

[2021-01-01 16:17] palmskog commented on #124
The repos have been moved: https://github.com/coq-community/pocklington https://github.com/coq-community/goedel

Goedel was released by its author into the public domain. However, this is a "license" which we prefer not to use in coq-community, since it doesn't work in all jurisdictions and is not an open source license. @Casteran do you mind if we switch Goedel to the (coq-community recommended)

[2021-01-01 16:20] Casteran commented on #124
Personnaly, I don’t mind. Do we have to ask the author ?

[2021-01-01 16:26] palmskog commented on #124
Public domain means we don't (legally) have to get the original author's approval to set the license. I guess we can still check as a courtesy at some later point, but since our configuration boilerplate requires a meaningful license name, I will just go ahead with MIT for now.

[2021-01-01 17:12] Casteran commented on #124
Should I remove all the references to  the LGPL License from the .v files ?

[2021-01-01 17:25] palmskog commented on #124
@Casteran from what I can see, there are no LGPL license clauses in the goedel project - only in pocklington. The change of license to MIT only applies to goedel, not to pocklington. The pocklington project legally has to keep its LGPL license (either 2.1 or 3.0), so we shouldn't change anything there, I think.

[2021-01-01 18:02] palmskog commented on #124
The `master` branches of both repositories in coq-community now work with Coq 8.12, and have continuous integration and our usual metadata and configuration files. Hence, I think we can close this issue and continue the discussion as issues in each respective repository.

[2021-01-01 18:02] #124 closed

[2021-05-05 17:22] siraben opened #126 "Proposal to move sudoku to coq-community"
**Project name:** https://github.com/coq-contribs/sudoku

**Initial author(s):** Laurent Théry @thery

**Current URL:** https://github.com/coq-contribs/sudoku/

**Kind:** certified Sudoku solver

**License:** LGPL-2.1

**Description:** This is a project that implements a certified Sudoku solver in Coq

**Status:** Hasn't seen commits in over two years, except recently by @siraben

**New maintainer

[2021-05-05 18:18] Zimmi48 commented on #126
Thanks a lot for proposing to maintain this project.

I've fixed the "initial author field" (for coq-contribs, one should look to the `description` file which contains this info rather than the commit history).

There's nothing blocking adoption, so I'll proceed with the transfer and invite you to join coq-community.

[2021-05-05 18:25] Zimmi48 commented on #126
Once you accept the invitation, you should have write access to the repository.

One thing we usually do when we transfer former contribs is to transform the `description` file into a `meta.yml` file and to generate a few files (including the README) using the [community templates](https://github.com/coq-community/templates). Feel free to ask for my help with this if you need it.

Something else t

[2021-05-05 18:45] thery commented on #126
very good!
@siraben I didn't know you updated the proofs (they needed it). I've also [my local version](https://github.com/thery/sudoku). The only diff is some javascript files so that with js_ocaml we can generate a [web page](http://www-sop.inria.fr/marelle/Laurent.Thery/Sudoku/Sudoku.html).

[2021-05-05 18:50] Zimmi48 commented on #126
Oh, I wasn't aware that you were maintaining your own version @thery. Sorry for proceeding to the transfer so fast. Would you have preferred if it was your version that was transferred to coq-community? If yes, it's still possible to change that.

BTW, do you have other "contribs" that you maintain on your side? If yes, we should archive them and redirect interested users to your versions.

[2021-05-05 19:35] thery commented on #126
@Zimmi48 that's fine with me the proofs in coq-contribs where nicer thanks to @siraben. So transfering this version is best.

[2021-05-05 19:39] Zimmi48 commented on #126
Good to hear! Do you want to officially co-maintain this project?

[2021-05-05 19:57] thery commented on #126
that's fine like it is

[2021-05-06 06:08] siraben commented on #126
@thery I'd like to incorporate your changes to the repository, so far I cherry-picked the README change, but not sure about the rest. What would you like to be cherry-picked over?

[2021-07-03 03:29] siraben commented on #126
Closed since move completed. TODO is to get it updated to use the template.

[2021-07-03 10:59] Zimmi48 commented on #126
@thery Maybe you can archive your version and point to the coq-community repository now. Let us know if at any point you want to officially co-maintain this project.

[2021-07-03 11:24] palmskog commented on #126
While we are at it, I would also encourage @thery to upload his [Sudoku project note](https://raw.githubusercontent.com/coq-community/sudoku/master/Note.pdf) to HAL for long-term preservation and canonical referencing, since keeping PDF documents in a repository is not the best idea.

[2021-07-05 08:21] thery commented on #126
As said before my version is slightly different from the Coq community one since it contains a generation of an [html]( http://www-sop.inria.fr/marelle/Laurent.Thery/Sudoku/Sudoku.html) with `js_of_ocaml `. If I have time this week, I will try to create a PR so I could archive my version.

[2021-07-05 08:22] thery commented on #126
@Zimmi48  No problem to be co-maintainer

[2021-07-05 08:22] thery commented on #126
@palmskog I will put the note in HAL asap

[2021-07-05 09:20] thery commented on #126
done [#4](https://github.com/coq-community/sudoku/pull/4)

[2021-07-27 18:03] Zimmi48 opened #127 "Proposal to move project CoqEAL to coq-community"
**Project name:** CoqEAL

**Initial author(s):** according to the README, the authors are

  - Guillaume Cano (initial)
  - Cyril Cohen (initial)
  - Maxime Dénès (initial)
  - Anders Mörtberg (initial)
  - Damien Rouhling
  - Vincent Siles (initial)

**Current URL:** https://github.com/CoqEAL/CoqEAL

**Kind:** pure Coq library, which depends on the parmcoq plugin.

**License:** MIT

**Description

[2021-07-27 18:56] CohenCyril commented on #127
To the authors should be added @proux01 and @erikmd

[2021-07-27 19:14] palmskog commented on #127
I think this is a good idea, and hopefully leads to eventual inclusion of CoqEAL into the Coq platform: https://github.com/coq/platform/issues/27

[2021-07-27 19:49] spitters commented on #127
Nice! There's also an initiative to redo paramcoq based on metacoq, but I do not know what the status of that is.

[2021-07-31 23:20] palmskog commented on #75
GitHub has now added a way for flagging up citation options in the sidebar for a project. This sidebar can for example provide BiBTeX boilerplate. See more here: https://twitter.com/natfriedman/status/1420122675813441540

The gist is that one needs to push a file called `CITATION.cff` containing the desired metadata. This file could for example be automatically pushed for a coq-community repo once

[2021-08-16 13:14] ybertot opened #128 "Proposal to move project matrix-canonical-forms to coq-community"
**Project name:**
matrix-canonical-forms (capitalization and hyphenation can be changed).  Another name could be more appropriate if we also want to include the result about the Perron-Frobenius theorem.

**Initial author(s):**
Guillaume Cano

**Current URL:**
https://www-sop.inria.fr/marelle/Guillaume.Cano/ (initial work by Guillaume Cano)
https://github.com/ybertot/canonical_forms (partial port

[2021-08-16 13:31] palmskog commented on #128
We seem to have converged to a standard for repository names that use lower case with `-` as a delimiter, so in my mind `matrix-canonical-forms` is a good name.

To give some context for why I think this project fits well in coq-community:
- There was a request to use this work as a dependency on the [ssreflect mailing list](https://sympa.inria.fr/sympa/arc/ssreflect/2021-05/msg00007.html).
- We a

[2021-08-16 13:54] ybertot commented on #128
Incidentally, I just had a conversation with Guillaume Cano, the initial author, who also approves of this move.

[2021-08-16 13:58] ybertot commented on #128
I had hesitations about this name because the main objective of Guillaume Cano's work goes well beyond normal forms of matrices.  So do we choose the name that would encompass the whole of Guillaume's work or do we stick with this single piece, possible with the need to re-organize libraries when the other part of the work is ported (which may be delayed to an unknown date).

[2021-08-16 14:14] palmskog commented on #128
Repository names can always be changed after a transfer, but if you can think of some more general name than one which has to do with mactrices, and change the repostiory name before the transfer, that's probably a good thing.

[2021-08-16 14:51] palmskog commented on #128
Unless others (e.g., @Zimmi48) have some concern, I think we can let @ybertot transfer the repository to the `coq-community` organization when he feels it is ready. Recall that both repository transfer and renaming is done under "Settings" and then "Danger Zone" at the bottom of the settings page.

[2021-08-16 14:55] Zimmi48 commented on #128
Sounds good to me.

[2021-08-17 13:39] thery commented on #126
@Zimmi48 @palmksog ok the last merge put sudoku in

[2021-08-17 13:53] siraben commented on #126
I can add a Nix-build CI.

[2021-08-17 13:57] thery commented on #126
@siraben cool! That would be nice

[2021-08-17 14:53] palmskog commented on #126
@siraben our Nix CI configuration is highly specific to coq-community, so for maintainability, please use the approach recommended in the [templates](https://github.com/coq-community/templates) repository to generate the Nix GitHub Action.

[2021-08-18 04:27] palmskog commented on #126
Solved by https://github.com/coq-community/sudoku/pull/6 - let's use issues in the sudoku repository for further discussion.

[2021-08-18 04:27] #126 closed

[2021-09-01 08:30] palmskog commented on #127
@CohenCyril @proux01 please let us know if we can help with anything that's blocking the transfer of the CoqEAL repo to the `coq-community` organization. I think there are some really nice synergies we can achieve after the transfer, such as having Nix cache-based CI for paramcoq that tests CoqEAL on every PR.

[2021-09-01 08:39] proux01 commented on #127
It seems we all agree on the transfert https://github.com/CoqEAL/CoqEAL/issues/33 so it's now just a matter of doing it.
@CohenCyril I don't have enough rights on CoqEAL repo, so I let you proceed.

[2021-09-01 09:34] CohenCyril commented on #127
done!

[2021-09-01 09:52] palmskog commented on #127
Thanks Cyril! I'm going to assume for now that Cyril and Pierre are the coq-community maintainers and put this in the repo description.

Let's close this issue and continue the discussion as CoqEAL issues.

[2021-09-01 09:52] #127 closed

[2021-09-04 13:23] palmskog commented on #87
Based on the problems encountered by downstream maintainers when the Multinomials project switched to using Dune, in particular for opam releases (math-comp/multinomials#41), I think we should for the foreseeable future avoid requiring Dune for any project releases. In other words, as of fall 2021, Dune *support* in coq-community repos for CI and local developer use continues to be a good thing, b

[2021-09-04 18:42] Zimmi48 commented on #87
But what to do for monorepos then (hydra-battles, topology...)?

[2021-09-04 18:48] palmskog commented on #87
Well, this is why I added the qualification "whenever possible", which should be read as "we continue to use Dune for releases where coq_makefile is practically infeasible". Also, both hydra-battles and topology are projects with seemingly no current downstream users.

[2021-09-06 13:06] strub commented on #87
@palmskog Do you have an example of a project that uses both system (`dune` for the dev & `coq_makefile` for `opam`)?

[2021-09-06 13:11] palmskog commented on #87
@strub here are some example, we have a *lot* of these in coq-community now (I use this approach for nearly all the projects I maintain):
- https://github.com/coq-community/reglang (Dune in CI and used by me, Christian still uses make)
- https://github.com/coq-community/huffman
- https://github.com/coq-community/aac-tactics
- https://github.com/coq-community/sudoku (js_of_ocaml extraction and comp

[2021-09-06 13:12] strub commented on #87
Ok, I'll take the first and use it as a template.

[2021-09-06 13:24] Zimmi48 commented on #87
IINM, all these examples use Dune in the `.opam` files committed in the repository, so this means that there will be a temporary desynchronization between that and the opam-coq-archive repo.

[2021-09-06 13:27] palmskog commented on #87
Well, there is desynchronization between opam files for *releases* and the opam files in the repos (the former use coq_makefile and latter use Dune). I still have the repo opam file in synch with the `extra-dev` opam file in the Coq opam archive.

[2021-09-07 08:47] palmskog commented on #128
The repo has been transferred, so I'm closing this issue. Further discussion can take place at a later time as issues in the repo itself: https://github.com/coq-community/matrix_canonical_forms

Thanks everyone!

[2021-09-07 08:47] #128 closed

[2021-09-13 17:10] ejgallego opened #129 "Hosting project templates in coq-community?"
Hi folks,

this is a follow up from the discussion at https://coq.zulipchat.com/#narrow/stream/240550-Dune-devs.20.26.20users/topic/.E2.9C.94.20Dune.2C.20_CoqProject.20and.20tests ; indeed, it seems to me that the current "template" setup may be a bit limited (see also coq-community/templates#95 ) , in particular as to setup full projects such as the plugin template.

Moreover, we have the current

[2021-09-14 08:28] palmskog commented on #129
I think we can actually turn the template repos (meant to be forked/copied by devs) into good displays of using our `meta.yml` format and possibly even use that to drive new functionality. We also get dedicated case studies instead of referring to live projects in the [README](https://github.com/coq-community/templates#the-metayml-file). In particular, Dune config generation support is not great a

[2021-09-15 10:55] palmskog commented on #129
@ejgallego so how do you feel about transferring your repo? In my view, the two of us should either both transfer, or none of us transfer. As per above, I think it's a good idea and fits with the idea of coq-community doing collaborative documentation.

We can work on improving the `meta.yml` handling for Dune in the template repos after the transfers.

[2021-09-15 10:59] palmskog commented on #76
@Zimmi48 I see that our GitLab organization currently does not mirror many repos (partly due to the considerable growth). Maybe we want to document the process for getting a repo mirrored and add it to some checklist in repo transfer issues?

[2021-09-15 11:27] ejgallego commented on #129
I am OK transferring if you folks think that's the best choice.

[2021-09-17 14:43] ejgallego commented on #129
Actually something I still didn't figure out, is how to best manage all the different kind of templates that users need; actually they may need more different "variants" than the ones I originally thought of, so I dunno if one repos for template is feasible.

[2021-09-17 14:56] Zimmi48 commented on #129
There are two main categories IMHO: configurable templates (that's what we have in the coq-community/templates repository with the objective of covering a large set of use cases) and demonstration templates (this is what your project and Karl's are, and it makes sense that they are quite specialized and do not cover all use cases, people can learn from them and adapt them to their needs).

[2021-09-17 15:06] palmskog commented on #129
I completely agree with Théo here. The main "demonstration template" repo besides mine and Emilio's that we should arguably try to add is a project that extracts verified Coq code to OCaml in a nice way using Dune to build some CLI program, and includes things like testing on the OCaml side. But most other typical use cases can be adapted from scratch using coq-community/templates or the existing

[2021-09-21 17:24] jjhugues commented on #129
I can propose a demonstration template for  a project that extracts verified Coq code to OCaml  using Dune. Mine uses Coq.IO instead of an OCaml stub for parsing CLI arguments though. I would assume you would prefer a demo with OCaml, is that correct?

[2021-09-23 06:00] mycroft92 opened #130 "Proposal to move project vcs-prettify-symbols-mode to coq-community"
**Project name:** vcs-prettify-symbols-mode

**Initial author(s):**  CJ Bell

**Current URL:** https://github.com/siegebell/vsc-prettify-symbols-mode

**Kind:** Visual Studio Code Plugin

**License:** MIT License

**Description:** Prettify symbols mode makes visual substitutions to your source code, e.g. displaying fun as λ, while never touching your code.

**Status:** Not maintained since 5 years

[2021-09-23 07:02] Zimmi48 commented on #130
@Pancaek @silver-dragon Would you be interested in becoming the maintainers of this project within coq-community? Should we transfer one of your forks? How would you evaluate the differences between your two branches?

[2021-09-27 12:18] ybertot opened #131 "Proposal to move project coq-dpdgraph to coq-community"
**Project name:** coq-dpdgraph

**Initial author(s):** Anne Pacalet (@Karmaki), Yves Bertot, Olivier Pons

**Current URL:** https://github.com/karmaki/coq-dpdgraph

**Kind:** OCaml plugin

**License:** GNU LGPL 2.1

**Description:** an Ocaml plugin to traverse the dependency graph between defined functions, types, and theorems in the Coq memory.

**Status:**   It is maintained, part of Coq-CI, wit

[2021-09-27 14:13] palmskog commented on #131
Once the transfer is done, I will help set up the usual metadata file (`meta.yml`) and basic CI configuration.

[2021-09-28 06:10] Karmaki commented on #131
@ybertot: do you want me to push the current version to a new https://github.com/coq-community/coq-dpdgraph repository, or have you planned to do it yourself? (since you said you started preparing a new version, you may have local modifications?)

[2021-09-28 07:37] palmskog commented on #131
@Karmaki if you use GitHub's repository transfer feature ("Settings", then "Danger Zone"), the old repository URL will still work in the new location in the `coq-community` organization due to URL forwarding. So Yves will not have any trouble pushing new outstanding changes either before or after the transfer.

Note that we don't recommend creating any completely *new* repository (in lieu of trans

[2021-09-28 07:52] Karmaki commented on #131
Oh I see. I did not know this "transfer feature". I just did it then.

[2021-09-28 09:21] palmskog commented on #131
Given that repository has been successfully moved, I think we can close this issue and continue the discussion as issues in the coq-dpdgraph repo.

[2021-09-28 09:21] #131 closed

[2021-10-01 09:04] Zimmi48 commented on #131
@ybertot commented in the platform discussion:

Should we reopen an issue to advertise that this project is looking for new maintainers?

[2021-10-02 10:57] BinderDavid opened #132 "Proposal to move project Autosubst2 to coq-community"
**Project name:** Autosubst2

**Initial author(s):** Kathrin Stark

**Current URL:**  https://www.ps.uni-saarland.de/extras/autosubst2/

**Kind:** Automatic boilerplate generation for substitutions.

**License:** Unclear at the moment, the website is down and not archived with the wayback machine :(

**Description:** Similar to Autosubst, which is already a part of coq-community.  Has been describ

[2021-10-02 11:04] palmskog commented on #132
@BinderDavid Autosubst2 is on GitHub and to my knowledge is currently maintained: https://github.com/uds-psl/autosubst2

Do you still want continue with the proposal?

[2021-10-02 11:10] BinderDavid commented on #132
Oh, sorry. In that case that was an honest mistake on my part. I googled to superficially and only found the website which is currently offline. The proposal can therefore probably be closed.

[2021-10-02 11:12] palmskog commented on #132
OK, then let's close this. For a usually up-to-date list of canonical links to Coq projects and resources (which included Autosubst2), see https://github.com/coq-community/awesome-coq

[2021-10-02 11:12] #132 closed

[2021-12-08 17:55] palmskog opened #136 "Proposal to move bignums to coq-community"
**Project name:** Bignums

**Initial author(s):** Laurent Théry (@thery), Benjamin Grégoire, Arnaud Spiwack, Evgeny Makarov, Pierre Letouzey

**Current URL:** https://github.com/coq/bignums

**Kind:** Coq library and OCaml plugin

**License:** LGPL-2.1-only ("same as Coq")

**Description:** Provides BigN, BigZ, BigQ that used to be part of Coq standard library. Part of the Coq Platform, installed

[2021-12-09 10:23] proux01 commented on #136
@palmskog I'd happily (co)maintain bignums

[2021-12-09 10:34] Zimmi48 commented on #136
I think we can consider the Coq Call decision to be sufficient, but we can ping the core team members anyway.

Present when the question was discussed and the decision was taken: @herbelin @JasonGross @mattam82 @ppedrot @SkySkimmer and @Zimmi48
Other core team members: @ejgallego @gares @maximedenes @silene @ybertot

[2021-12-09 10:57] palmskog commented on #136
Dear Coq core team members, as Coq-community manager I think it would suffice if someone did a statement here roughly as follows:

Then we could simply transfer the repo (I suggest Théo does this).

[2021-12-09 11:09] palmskog commented on #2
Two governance issues I've thought about recently, and which I might propose manifesto changes for in the near future:
1. Pull requests to the manifesto should require approval of two of the managers (organization owners), or at the very least one owner.
2. At most one manager/owner should be a Coq *core team* member (being a maintainer is fine)

The rationale of (1.) is that we don't want regular

[2021-12-09 13:55] Zimmi48 commented on #136
Do you want this statement from someone else than me? (FWIW, I am a Coq core team member...) Maybe you want a statement from the project coordinator @mattam82?

[2021-12-09 14:27] mattam82 commented on #136
As agreed at the Coq Call:

On behalf of the Coq core team, which currently manages the Bignums project, I approve of moving the Bignums repository to the coq-community organization on GitHub.

[2021-12-09 14:38] Zimmi48 commented on #136
OK, let's do the transfer then!

[2021-12-09 14:39] Zimmi48 commented on #136
Done: https://github.com/coq-community/bignums

[2021-12-09 14:41] Zimmi48 commented on #136
FWIW, I've made @proux01 an admin, and I've removed the other collaborators because they all have write access to the repo already as coq-community members.

[2021-12-09 15:08] palmskog commented on #136
Thanks everyone, I think we can now close this and continue discussions about Bignums as issues in the repo.

[2021-12-09 15:08] #136 closed

[2021-12-09 20:11] erikmd commented on #136
Thanks @palmskog for pinging me, and thanks @proux01 for your quick reply :+1:

Given that @proux01 and I are regular users of Bignums and that it's a core library within the Docker-Coq packaging (which is the reason why I did several releases in the recent past), I can propose to co-maintain Bignums, and thus be as the second co-maintainer (if @proux01 agree of course).

[2021-12-10 09:03] Zimmi48 commented on #136
We've updated the repository to mention the two co-maintainers, and I've given admin access to both of you.

[2021-12-20 18:56] Zimmi48 commented on #66
Related to this `.github` repository, there is a new feature allowing to have a README for the entire organization: https://github.blog/changelog/2021-09-14-readmes-for-organization-profiles/
This is probably something worth having (it gives way more flexibility in introducing the organization than just pinning the manifesto repo and linking to the website).

[2021-12-20 19:43] liyishuai commented on #66
Consider "renaming" `manifesto` to `.github`? I see few reason for having two repos.

[2021-12-20 19:50] Zimmi48 commented on #66
That's something that I had considered at some point, but it wouldn't work because the manifesto repository has specific issue templates for proposing a package or changing maintainers that wouldn't be suitable as a default template.

[2021-12-21 09:03] palmskog commented on #66
It looks like the organization wide README could be more of quick summary of coq-community with links to some high-profile projects. More of a marketing thing than a formal statement of goals and rules. I also don't mind if the contribution guide and code of conduct migrates to `.github`, arguably they are *derived* from the manifesto README.